.header {
  height: 70px;
  .logo {
    img {
      width: 100px;
    }
  }
  .user-profile-menu {
    width: 250px;
  }
  .search-form,
  mat-form-field {
    width: 100%;
  }
}

mat-icon.search-icon {
  top: 7px !important;
  margin-right: 7px !important;
  position: relative;
}
@media (min-width: 998px) {
  .notifications-user {
    min-width: 300px;
  }
}
.notifications-user {
  // min-width: 300px;

  h6,
  h5 {
    margin-bottom: 0px !important;
  }
}
.avatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.job-id {
  color: #92929d;
}
.user-name {
  letter-spacing: 0.5px;
}
.search-form {
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
