.bold {
  font-weight: bold !important;
}
.quotations-header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
}
.quotation-number {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.quote-customer-number {
  font-family: Helvetica;
  font-size: 10px;
  line-height: 19px;
}

.origin {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
}
