<mat-card class="mat-elevation-z0">
    <div class="card-title mb-7" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="mb-0">
            Quotations
        </h2>
        <a class="underline">
            View all
        </a>
    </div>
    <div class="card-body">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
            <h3 class="mb-0">
                QT C5877793
            </h3>
            <h5 class="mb-0">
                SEW-EURODRIVE INDIA
            </h5>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="mb-3">
            <h5 class="mb-0">
                Jebel Ali (Dubai)
            </h5>
            <mat-icon class="transform rotate-90">flight</mat-icon>
            <h5 class="mb-0">
                Nhava Sheva (JNPT)
            </h5>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
            <h5 class="mb-0">Place: <span>20</span> </h5>
            <h5 class="mb-0">Weight: <span>1000 kg</span> </h5>
            <h5 class="mb-0">Volume: <span>1.3</span> </h5>
        </div>
    </div>
</mat-card>