@import "./../../../variables.scss";

tr.mat-row,
tr.mat-footer-row {
  height: 70px;
}
td.mat-cell,
th.mat-header-cell,
.mat-footer-cell {
  border-bottom-style: none;
  color: $fresonaccentcolor;
}
.mat-header-row {
  background-color: $fresconheaderscolor;
}
tr.detail-row {
  height: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.schedules-table-header {
  background-color: #f7f8fa;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}
.schedule-item {
  height: 50px;
}
.header-row {
  background-color: #f7f8fa;
}
.bold {
  font-weight: bold !important;
}
