<!-- <mat-spinner *ngIf="loading" class="spinner"></mat-spinner> -->
<div fxHide fxShow.gt-sm>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="w-full mat-elevation-z0"
    multiTemplateDataRows
  >
    <!-- Position Column -->
    <ng-container matColumnDef="quotation-number">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header="quotation-number"
        class="bold-text"
      >
        QT No
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element["quotation-number"] }}
      </td>
    </ng-container>

    <!-- for expansion panel every row expansion details -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <mat-tab-group
            mat-align-tabs="start"
            color="primary"
            class="w-full"
            *ngIf="po"
          >
            <mat-tab label="PO">
              <mat-card class="mat-elevation-z0">
                <div class="card-body">
                  <div fxLayout="column" fxLayoutAlign="center space-between">
                    <div
                      fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="10px"
                      class="py-3 header-row"
                    >
                      <div fxFlex class="mb-0 bold-text">Ref. Number</div>
                      <div fxFlex class="mb-0 bold-text">PO N°</div>
                      <div fxFlex class="mb-0 bold-text">Origin</div>
                      <div fxFlex class="mb-0 bold-text">Destination</div>
                      <div fxFlex class="mb-0 bold-text">Chargeable weight</div>
                      <div fxFlex class="mb-0 bold-text">Supplier</div>
                      <div fxFlex class="mb-0 bold-text">Container Number</div>
                      <div fxFlex class="mb-0 bold-text">Mode</div>
                      <div fxFlex class="mb-0 bold-text">Shipment</div>
                    </div>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="10px"
                      class="my-3 schedule-item"
                      *ngFor="let item of po"
                    >
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.ref_no }}
                      </div>
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.container_no }}
                      </div>
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.originport.portname }}
                      </div>
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.destinationport.portname }}
                      </div>
                      <div fxFlex class="mb-0 plain-text">Parallel Inc.</div>
                      <div fxFlex class="mb-0 plain-text">gggg</div>
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.container_no }}
                      </div>
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.shipmentby }}
                      </div>
                      <div fxFlex class="mb-0 plain-text">
                        {{ item.shipmenttype }}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Documents">
              <mat-card class="mat-elevation-z0">
                <div class="card-body">
                  <div fxHide fxShow.gt-sm>
                    <div
                      fxLayout="row"
                      fxLayoutGap="10px"
                      fxLayoutAlign="start center"
                      class="py-3 header-row"
                    >
                      <div fxFlex="250px" class="px-3 bold-text">
                        Document Date
                      </div>
                      <div fxFlex class="px-3 bold-text">Document Name</div>
                    </div>
                    <div
                      fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="10px"
                      class="py-3"
                      *ngFor="let item of documents"
                    >
                      <div fxFlex="250px" class="px-3">
                        {{ item.document_date }}
                      </div>
                      <div
                        fxFlex
                        class="px-3"
                        fxLayout="row"
                        fxLayoutAlign="space-between center"
                        fxLayoutGap="10px"
                      >
                        <div fxFlex>
                          <p>{{ item.document_name }}</p>
                        </div>
                        <div fxFlex class="text-right">
                          <button
                            mat-raised-button
                            color="primary"
                            class="mat-elevation-z0"
                          >
                            <mat-icon
                              [svgIcon]="'download'"
                              class="pr-2"
                            ></mat-icon>
                            <a href="{{ item.link }}" target="_blank">
                              Download</a
                            >
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="reference-number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Reference
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element["reference-number"] }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Origin
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element.origin }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Destination
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element.destination }}
      </td>
    </ng-container>
    <ng-container matColumnDef="expiry_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        QT Expiry
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element.expiry_date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Amount
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element.currecy_code }} {{ element.amount }}
      </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Weight
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element.weight }} {{ element.weight_unit }}
      </td>
    </ng-container>
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Service
      </th>
      <td mat-cell *matCellDef="let element" class="plain-text">
        {{ element.service }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
        Status
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="plain-text bold"
        (click)="openDialog()"
      >
        {{ element.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <a
          class="underline cursor-pointer mat-primary bold-text"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            getQuoteDetail(element['quotation-number'])
          "
        >
          Details
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<div>
  <div class="card-body" fxShow fxHide.gt-sm>
    <div
      fxLayout="column"
      fxLayoutAlign="center start"
      fxLayoutGap="10px"
      class="my-3 purchase-item"
      *ngFor="let element of data"
    >
      <p fxFlex>
        <span class="font-bold">QT No : </span>
        <span>{{ element["quotation-number"] }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Reference :</span>
        <span>{{ element["reference-number"] }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Origin :</span>
        <span>{{ element.origin }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Destination :</span>
        <span>{{ element.destination }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">QT Expiry :</span>
        <span>{{ element.expiry_date }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Amount :</span>
        <span>{{ element.amount }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Weight :</span>
        <span>{{ element.weight }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Service :</span>
        <span>{{ element.service }}</span>
      </p>
      <p fxFlex>
        <span class="font-bold">Status :</span>
        <span>{{ element.status }}</span>
      </p>

      <p fxFlex>
        <a
          class="underline cursor-pointer mat-primary"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            getQuoteDetail(element['quotation-number'])
          "
        >
          Details
        </a>
      </p>
    </div>
  </div>
</div>
