.todolist-header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
}
.todo-list-hbl {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.todo-list-date {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 19px;
}
.badge-item {
  background-color: #f01e1e;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  width: 28px;
  height: 22px;
  border-radius: 12px;
}
