<mat-card class="mat-elevation-z0">
  <div
    class="card-title mb-6 ml-3 mr-3"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="mb-0 main-header">To-Do List</div>
    <span class="badge-item mr-24">4</span>
    <span></span>
    <span></span>
    <a class="view-all-link"> View all </a>
  </div>
  <div class="card-body ml-3 mr-3">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="25px"
      class="mb-3"
    >
      <div class="mb-0 sub-header">HBL #0938847</div>
      <div class="mb-0 plain-text">27/01/21 - 1:54pm</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
      <p>
        <mat-checkbox
          [(ngModel)]="test_checkbox"
          color="warn"
          [class]="test_checkbox ? 'line-through plain-text' : 'plain-text'"
          >Collect & Research Data</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox
          color="warn"
          [(ngModel)]="second_checkbox"
          [class]="second_checkbox ? 'line-through plain-text' : 'plain-text'"
          >Create Moodboard</mat-checkbox
        >
      </p>
    </div>
  </div>
</mat-card>
