<mat-card class="mat-elevation-z0">
  <div
    class="card-title mb-6"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="mb-0 main-header">To-Do List</div>
    <span class="badge-item">4</span>
    <span></span>
    <span></span>
    <a class="view-all-link"> View all </a>
  </div>
  <div class="card-body">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="25px"
      class="mb-3"
    >
      <div class="mb-0 sub-header">HBL #0938847</div>
      <div class="mb-0 plain-text">27/01/21 - 1:54pm</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
      <p>
        <mat-checkbox
          [(ngModel)]="test_checkbox"
          color="warn"
          class="line-through plain-text"
          >Checked</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox class="plain-text">Unchecked</mat-checkbox>
      </p>
    </div>
  </div>
</mat-card>
