<mat-card class="mat-elevation-z0">
    <div class="card-title mb-7" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="mb-0">
            <span matBadge="4" matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="warn">
                To-Do List
            </span>
        </h2>
        <a class="underline">
            View all
        </a>
    </div>
    <div class="card-body">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px" class="mb-3">
            <h3 class="mb-0">
                HBL #0938847
            </h3>
            <h5 class="mb-0">
                27/01/21 - 1:54pm
            </h5>
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
            <p>
                <mat-checkbox [(ngModel)]="test_checkbox" color="warn" class="line-through">Checked</mat-checkbox>
            </p>
            <p>
                <mat-checkbox>Unchecked</mat-checkbox>
            </p>
        </div>
    </div>
</mat-card>