<div
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="start center"
  class="py-3 header-row"
>
  <div fxFlex="250px" class="px-3">Document Date</div>
  <div fxFlex class="px-3">Cargo Arrival Notice</div>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  class="py-3"
  *ngFor="let CAN of CANData"
>
  <div fxFlex="250px" class="px-3">{{ CAN.document_date }}</div>
  <div
    fxFlex
    class="px-3"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <p fxFlex>{{ CAN.document_name }}</p>
    <div fxFlex class="text-right">
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon>upload_file</mat-icon>
        <a href="{{ CAN.link }}" target="_blank"> Download</a>
      </button>
    </div>
  </div>
</div>
