<mat-card class="mat-elevation-z0">
  <div
    class="card-title mb-4"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" fxLayoutGap="25px">
      <div class="mb-0 main-header">Schedules</div>
      <button
        *ngFor="let scheduleStatusType of scheduleStatusTypes"
        fxHide
        fxShow.gt-sm
        mat-stroked-button
        [color]="
          scheduleStatusType.value == activeScheduleStatusType
            ? 'primary'
            : 'light'
        "
        [class.light-color-button]="
          scheduleStatusType.value != activeScheduleStatusType
        "
        class="mat-elevation-z0 status-buttons"
        (click)="getDashboardSailings(scheduleStatusType.value)"
      >
        {{ scheduleStatusType.value }}
      </button>
    </div>
    <!-- <a class="underline"> View all </a> -->
  </div>
  <div class="card-body">
    <div fxLayout="column" fxLayoutAlign="center space-between">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="py-3 schedules-table-header schedules-header"
      >
        <div fxFlex class="mb-0 bold-text">Cut Off Date</div>
        <div fxFlex class="mb-0 bold-text">Origin Date</div>
        <div fxFlex class="mb-0 bold-text">Dest. City</div>
        <div fxFlex class="mb-0 bold-text">Dest. Date</div>
        <div fxFlex class="mb-0 bold-text"></div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="my-3 schedule-item schedules-rows"
        *ngFor="let element of dataSource"
      >
        <div fxFlex class="mb-0 plain-text">
          {{ element["cutoff-date"] }}
        </div>
        <div fxFlex class="mb-0 plain-text">
          {{ element.ETA }}
        </div>
        <div fxFlex class="mb-0 plain-text">
          {{ element.destination }}
        </div>
        <div fxFlex class="mb-0 plain-text">
          {{ element.ETD }}
        </div>
        <div fxFlex>
          <button
            mat-raised-button
            color="warn"
            class="mat-elevation-z0"
            (click)="goTo('/ebooking', 'data')"
          >
            Book
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
