<mat-card class="mat-elevation-z0">
  <div
    class="card-title mb-9"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" fxLayoutGap="25px">
      <h2 class="mb-0">Schedules</h2>
      <button
        fxHide
        fxShow.gt-md
        mat-stroked-button
        [color]="scheduleType === 'air' ? 'warn' : 'light'"
        class="mat-elevation-z0"
        [class]="scheduleType === 'air' ? '' : ''"
      >
        Air
      </button>
      <button
        fxHide
        fxShow.gt-md
        mat-stroked-button
        [color]="scheduleType === 'ocean' ? 'warn' : 'light'"
        class="mat-elevation-z0"
        [class]="scheduleType === 'ocean' ? '' : ''"
      >
        Ocean
      </button>
    </div>
    <a class="underline"> View all </a>
  </div>
  <div class="card-body">
    <div fxLayout="column" fxLayoutAlign="center space-between">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="py-3 schedules-table-header"
      >
        <h3 fxFlex class="mb-0">Cut Off Date</h3>
        <h3 fxFlex class="mb-0">Origin Date</h3>
        <h3 fxFlex class="mb-0">Dest. City</h3>
        <h3 fxFlex class="mb-0">Dest. Date</h3>
        <h3 fxFlex class="mb-0"></h3>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="my-3 schedule-item"
        *ngFor="let element of dataSource"
      >
        <h5 fxFlex class="mb-0">
          {{ element["cutoff-date"] }}
        </h5>
        <h5 fxFlex class="mb-0">
          {{ element.ETA }}
        </h5>
        <h5 fxFlex class="mb-0">
          {{ element.destination }}
        </h5>
        <h5 fxFlex class="mb-0">
          {{ element.ETD }}
        </h5>
        <div fxFlex>
          <button mat-raised-button color="warn" class="mat-elevation-z0">
            Book
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
