<mat-card class="mat-elevation-z0">
  <div
    class="card-title mb-9"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" fxLayoutGap="25px">
      <h2 class="mb-0">Shipments</h2>
      <button
        fxHide
        fxShow.gt-md
        mat-stroked-button
        *ngFor="let shipmentStatusType of shipmentStatusTypes"
        [color]="
          shipmentStatusType.value == activeShipmentStatusType
            ? 'primary'
            : 'light'
        "
        class="mat-elevation-z0"
        (click)="getDashboardShipments(shipmentStatusType.value)"
      >
        {{ shipmentStatusType.value }}
      </button>
    </div>
    <a class="underline cursor-pointer" (click)="goTo('/shipments', 'data')">
      View all
    </a>
  </div>
  <div class="card-body">
    <div
      fxLayout="column"
      fxLayout.gt-md="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="25px"
      class="mb-5"
      *ngFor="let element of data"
    >
      <div fxLayout="column" fxFlex>
        <div
          fxLayout="row"
          fxLayoutGap="10px"
          fxLayoutAlign="start center"
          class="mb-1"
        >
          <h3 class="mb-0">
            {{ element["hbl-number"] }}
          </h3>
          <h5 class="mb-0">
            {{ element["customer-name"] }}
          </h5>
        </div>
        <div
          fxLayout="row"
          fxLayoutGap="10px"
          fxLayoutAlign="start center"
          class="mb-1"
        >
          <h6 class="mb-0">
            {{ element.ETA }}
          </h6>
          <h6 class="mb-0">
            {{ element.ETD }}
          </h6>
        </div>
      </div>
      <div
        class="md:overflow-hidden"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxFlex
      >
        <div class="stepper mb-3" fxLayout="row" fxLayoutAlign="center">
          <div
            class="step-container"
            *ngFor="let status of transitStatuses; last as isLast"
            fxFlex
          >
            <div
              class="step-joiner"
              [class]="status.value === element.status ? 'highlight' : ''"
            ></div>
            <div class="step">
              <mat-icon
                *ngIf="status.value === element.status"
                [class]="
                  status.value === element.status
                    ? 'highlight transform '
                    : 'disable-text-color'
                "
                [svgIcon]="
                  element.mode === 'AIR' ? 'fresconflight' : 'fresconShip'
                "
              >
                <!-- {{ element.mode === "AIR" ? "flight" : "fresconShip" }} -->
              </mat-icon>
              <mat-icon
                *ngIf="status.value !== element.status"
                [class]="
                  status.value === element.status
                    ? 'highlight transform rotate-90'
                    : 'disable-text-color'
                "
              >
                {{ "radio_button_unchecked" }}
              </mat-icon>
            </div>
          </div>
        </div>
        <div class="stepper-labels mb-3" fxLayout="row" fxLayoutAlign="center">
          <div
            fxFlex
            class="step-label-container mx-1 text-center"
            *ngFor="
              let status of transitStatuses;
              first as isFirst;
              last as isLast
            "
          >
            <div
              class="status text-xs"
              [class]="
                status.value === element.status
                  ? 'highlight'
                  : 'disable-text-color'
              "
            >
              {{ status.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
