.stepper {
  width: 100%;
  .step-container {
    width: 100%;
  }
  .step {
    width: 34px;
    height: 24px;
    margin: auto;
    background-color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .step-joiner {
    height: 0px;
    border-bottom: 2px dotted #ddd;
    position: relative;
    left: 50%;
    top: 14px;
  }
  .step-joiner.highlight {
    border-bottom-color: #aaa;
  }
  .step-joiner.disable {
    border-bottom-color: #aaa;
  }
  .step-container:last-of-type .step-joiner {
    border-bottom-color: transparent;
  }
}
.stepper-labels {
  width: 100%;
}
.highlight {
  color: #f01e1e !important;
  border-bottom-color: #f01e1e !important;
  font-weight: bold;
}
.hightext {
  font-family: Helvetica;
  font-style: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #f01e1e;
}
.disable-text-color {
  color: #aaa !important;
}
.underline {
  text-decoration: underline !important;
}
.dark:not(.highlight, .currentstatus) {
  border-bottom-color: #313131 !important;
  color: #313131;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
.light {
  color: #ddd;
  border-bottom-color: #ddd !important;
}
.currentstatus {
  font-weight: bold;
}
