<mat-card class="mat-elevation-z0">
    <div class="card-title mb-9" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="25px">
            <h2 class="mb-0">
                Shipments
            </h2>
            <button mat-stroked-button [color]="shipmentType === 'bookamrked'?'warn':'light'" class="mat-elevation-z0"
                [class]="shipmentType === 'booked'? '' : ''">
                Bookmarked
            </button>
            <button mat-stroked-button [color]="shipmentType === 'arriving'?'warn':'light'" class="mat-elevation-z0"
                [class]="shipmentType === 'booked'? '' : ''">
                Arriving
            </button>
            <button mat-stroked-button [color]="shipmentType === 'booked'?'warn':'light'" class="mat-elevation-z0"
                [class]="shipmentType === 'booked'? '' : ''">
                Booked
            </button>
        </div>
        <a class="underline cursor-pointer" (click)="goTo('/shipments', 'data')">
            View all
        </a>
    </div>
    <div class="card-body">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px" class="mb-5"
            *ngFor="let item of [1,2,3]">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="mb-1">
                    <h3 class="mb-0">
                        HBL #0938847
                    </h3>
                    <h5 class="mb-0">
                        SEW-EURODRIVE INDIA PVT. LTD. (CHENNAI)
                    </h5>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" class="mb-1">
                    <h6 class="mb-0">
                        BOE: 20 Sep, 2020
                    </h6>
                    <h6 class="mb-0">
                        CLR: 20 Sep, 2020
                    </h6>
                </div>
            </div>
            <div class="overflow-hidden" fxLayout="column" fxLayoutAlign="start center">
                <div class="stepper mb-3" fxLayout="row" fxLayoutAlign="center">
                    <div class="step-container" *ngFor="let step of [1, 2, 3, 4, 5, 6, 7]; last as isLast" fxFlex>
                        <div class="step-joiner" [class]="item === 2 && step === 3 ? 'highlight' : ''">
                        </div>
                        <div class="step" [class]="step === 3 ? 'transform rotate-90' : ''">
                            <mat-icon
                                [class]="item === 2 && step === 4 ? 'highlight' : step > 3 ? 'disable-text-color' : ''">
                                {{step === 3 ? 'flight': 'radio_button_unchecked'}}
                            </mat-icon>
                        </div>
                    </div>
                </div>
                <div class="stepper-labels mb-3" fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex class="step-label-container mx-1 text-center"
                        *ngFor="let step of [1, 2, 3, 4, 5, 6, 7]; first as isFirst; last as isLast">
                        <div class="status text-xs"
                            [class]="item === 2 && step === 4 ? 'highlight' : step > 3 ? 'disable-text-color' : ''">
                            active status for item
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>