<mat-card class="mat-elevation-z0">
  <div
    class="card-title mb-9 ml-3 mr-3"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="row" fxLayoutGap="25px">
      <div class="mb-0 main-header">Shipments</div>
      <button
        fxHide
        fxShow.gt-sm
        mat-stroked-button
        *ngFor="let shipmentStatusType of shipmentStatusTypes"
        [color]="
          shipmentStatusType.value == activeShipmentStatusType
            ? 'primary'
            : 'light'
        "
        [class.light-color-button]="
          shipmentStatusType.value != activeShipmentStatusType
        "
        class="mat-elevation-z0 status-buttons"
        (click)="getDashboardShipments(shipmentStatusType.value)"
      >
        {{ shipmentStatusType.label }}
      </button>
    </div>
    <a class="view-all-link" (click)="goTo('/shipments', 'data')"> View all </a>
  </div>
  <div class="card-body ml-3 mr-3">
    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="space-between start"
      class="mb-5"
      *ngFor="let element of data"
    >
      <div fxLayout="column" fxFlex="45">
        <div
          fxLayout="column"
          fxLayout.gt-sm="row"
          fxLayoutGap="10px"
          fxLayoutAlign="start start"
          class="mb-1"
        >
          <div
            class="mb-2 sub-header"
            fxFlex="40"
            [matTooltip]="
              (element.hbl_flag === 'Y' ? 'HBL #' : 'BKG #').concat(
                element['hbl-number']
              )
            "
          >
            <span class="font-bold">
              {{
                truncate(
                  (element.hbl_flag === "Y" ? "HBL #" : "BKG #").concat(
                    element["hbl-number"]
                  ),
                  18
                )
              }}</span
            >
          </div>
          <div class="mb-2 plain-text" fxFlex="60">
            {{ element["customer-name"] }}
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutGap="10px"
          fxLayoutAlign="start center"
          class="mb-1"
        >
          <div class="mb-0 bold-text">
            <span class="font-bold">BOE: {{ element["boe-no"] }}</span>
          </div>
          <div class="mb-0 bold-text">
            <span class="font-bold">CLR: {{ element["clr-no"] }} </span>
          </div>
        </div>
      </div>
      <div
        class="md:overflow-hidden"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxFlex
      >
        <div class="stepper mb-3 ml-6" fxLayout="row">
          <div
            class="step-container"
            *ngFor="
              let status of transitStatuses;
              last as isLast;
              let i = index
            "
            fxFlex
          >
            <div
              class="step-joiner"
              [class.highlight]="
                status.label === 'In transit' && element['eta-flag']
              "
              [class.dark]="!isLast && i <= element.statusIndex - 1"
              [class.light]="!isLast && i > element.statusIndex - 1"
            ></div>
            <div class="step">
              <mat-icon
                *ngIf="status.value === element.status"
                [class]="element.statusIndex > i ? 'dark' : 'light'"
                [svgIcon]="
                  element.mode === 'AIR' ? 'fresconflight' : 'fresconShip'
                "
              >
                <!-- {{ element.mode === "AIR" ? "flight" : "fresconShip" }} -->
              </mat-icon>
              <mat-icon
                *ngIf="status.value !== element.status"
                [class.highlight]="
                  status.label === 'ETA delayed' && element['eta-flag']
                "
                [class.light]="i > element.statusIndex"
                class="radio-ship"
              >
                radio_button_unchecked
              </mat-icon>
            </div>
          </div>
        </div>
        <div
          class="stepper-labels mb-3 ml-6"
          fxLayout="row"
          fxLayoutAlign="center"
        >
          <div
            fxFlex
            class="step-label-container mx-1 text-center"
            *ngFor="
              let status of transitStatuses;
              first as isFirst;
              last as isLast;
              let i = index
            "
          >
            <div
              *ngIf="element.statusIndex > -1 && element.statusIndex >= i"
              [class.highlight]="
                status.label === 'ETA delayed' && element['eta-flag']
              "
              [class]="i <= element.statusIndex ? 'dark' : 'light'"
              [class.currentstatus]="status.value === element.status"
            >
              <!-- {{ status.label }} -->
              {{
                element.statusIndex > 4 && status.label === "ETA delayed"
                  ? ""
                  : status.label
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
