$step-joiner-space: 12px;
$step-width: 24px;
.stepper {
  width: 100%;
  .step-container {
    width: 100%;
  }
  .step {
    width: 24px;
    height: 24px;
    margin: auto;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .step-joiner {
    height: 0px;
    border-bottom: 2px dotted #ddd;
    position: relative;
    left: 50%;
    top: 12px;
  }
  .step-joiner.highlight {
    border-bottom: 2px dotted red;
  }
  .step-joiner.disable {
    border-bottom: 2px dotted #aaa;
  }
  .step-container:last-of-type .step-joiner {
    border-bottom: none;
  }
}
.stepper-labels {
  width: 100%;
}
.highlight {
  color: red !important;
}
.disable-text-color {
  color: #aaa !important;
}
.underline {
  text-decoration: underline !important;
}
