@import "./../../../variables.scss";

tr.mat-row,
tr.mat-footer-row {
  height: 70px;
}
td.mat-cell,
th.mat-header-cell,
.mat-footer-cell {
  border-bottom-style: none;
  color: $fresonaccentcolor;
}
.mat-header-row {
  background-color: $fresconheaderscolor;
}
tr.detail-row {
  height: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.Accordian-table-header {
  background-color: #f7f8fa;
}
.card-body1 {
  width: 100% !important;
}
::ng-deep .mat-sort-header-arrow[style] {
  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    //Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }
}

::ng-deep .mat-sort-header-arrow {
  transform: none !important;
  opacity: 1 !important;
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-pointer-middle {
    display: none;
  }
}

//My custom ascending arrow
[aria-sort="none"] {
  ::ng-deep .mat-sort-header-arrow {
    transform: none !important;
    .mat-sort-header-indicator {
      /* Vector 11 */
      transform: none !important;
      &::after {
        content: url("../../../assets/icons/triangle.svg");
        height: 5px;
      }
    }
  }
}
[aria-sort="ascending"] {
  ::ng-deep .mat-sort-header-arrow {
    transform: translateY(0%) !important;
    .mat-sort-header-indicator {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid #313131;
        margin-top: 4px;
        display: inline-block;
      }
    }
  }
}

// My custom descending arrow
[aria-sort="descending"] {
  ::ng-deep .mat-sort-header-arrow {
    transform: translateY(0%) !important;
    .mat-sort-header-indicator {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #313131;
        margin-bottom: 8px;
      }
    }
  }
}
.w-80 {
  width: 120px !important;
}
