<div class="dashboard-page">
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
    <div class="mb-10">
      <div class="mb-0 text-xl font-bold">Overview</div>
    </div>
    <div class="mb-10">
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon [svgIcon]="'download'" class="pr-2"></mat-icon>
        <a href="{{ linkFromShipments }}" target="_blank">Request Quote</a>
      </button>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="15px"
    fxFlexFill
    class="mb-5 dashboard-map"
  >
    <div fxFlex="65" class="map-box" fxLayout="column">
      <div fxFlex>
        <app-mapbox></app-mapbox>
      </div>
    </div>
    <div fxFlex="35" class="quotes-todo text-right" fxLayout="column">
      <div fxFlex>
        <div class="mb-5">
          <app-quotationcard></app-quotationcard>
        </div>
        <div>
          <app-todolistcard></app-todolistcard>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <app-shipments
      (newItemEvent)="receiveLinkFromShipment($event)"
    ></app-shipments>
  </div>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="15px" class="mb-5">
    <div fxFlex>
      <app-purchase></app-purchase>
    </div>
    <div fxFlex>
      <app-schedules></app-schedules>
    </div>
  </div>
</div>
