.header {
  border-bottom: 1px solid #ccc;
}
.page {
  height: 100vh;
  max-height: 100vh;
}
.drawer-menu {
  width: 250px;
}
.drawer-content {
  background-color: #f7f8fa;
}
.menu-button.mat-button,
.menu-button.mat-flat-button {
  padding: 7px;
  text-align: left;
}
.isActive {
  color: red;
}
.menu-tab {
  border-left: 5px solid transparent;
}
.menu-tab.active {
  border-left: 5px solid red;
}
.menu-item-icon {
  svg {
    width: 18px;
  }
}
