<div class="page overflow-hidden" fxLayout="column">
    <div fxFlex="70px" class="header">
        <app-header></app-header>
    </div>
    <div class="page-container h-full overflow-auto">
        <div fxFlex="250px" class="drawer-menu">
            <div class="menu-label secondary-text-color m-2">
                <button mat-button disabled class="w-full h-full menu-button">
                    MAIN
                </button>
            </div>
            <div *ngFor="let item of menuList" class="my-1" [class]="item.route === currentRoute ? 'isActive' : ''">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="menu-tab"
                    [class]="item.route === currentRoute ? 'active': ''">
                    <button mat-button [color]="item.route === currentRoute ? 'warn' : ''"
                        class="p-3 w-full h-full menu-button" (click)="goTo(item.route)">
                        <mat-icon matPrefix class="menu-item-icon mr-3" color="primary" [svgIcon]="item.icon">
                        </mat-icon>
                        {{item.label}}
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full p-5 h-full drawer-content overflow-auto">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</div>