.skuwrapper {
  position: absolute;
  height: 98px;
  width: 700px;
}
.w-230 {
  width: 230px;
}
.bttns-add {
  background: #f01e1e;
  color: white;
  border-radius: 0px;
}
.bttns-cancel {
  background: white;
  color: #f01e1e;
  border-radius: 0px;
  border: 1px solid #f01e1e;
}
