<div class="skuwrapper">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-10"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex="80"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <h1 class="mb-0">Add SKU</h1>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="25px"
    fxLayoutAlign="start start"
  >
    <div class="mb-0">
      <h3>SKU</h3>

      <mat-form-field appearance="outline" class="w-230">
        <input matInput placeholder="Ex: CAM001" />
      </mat-form-field>
    </div>
    <div class="mb-0">
      <h3>Name</h3>

      <mat-form-field appearance="outline" class="w-230">
        <input matInput placeholder="Ex: Camera" />
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="25px"
    fxLayoutAlign="start start"
  >
    <div class="mb-0">
      <h3>Package Type</h3>
      <mat-form-field appearance="outline" class="w-230">
        <mat-select [(ngModel)]="addSku.sTosName">
          <mat-option value="Box(S)">Box(S)</mat-option>
          <mat-option value="Bundle(S)">Bundle(S)</mat-option>
          <mat-option value="Carton(S)">Carton(S)</mat-option>
          <mat-option value="Case(S)">Case(S)</mat-option>
          <mat-option value="Container(S)">Container(S)</mat-option>
          <mat-option value="Crate(S)">Crate(S)</mat-option>
          <mat-option value="Package(S)">Package(S)</mat-option>
          <mat-option value="Pallet(S)">Pallet(S)</mat-option>
          <mat-option value="Piece(S)">Piece(S)</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mb-0">
      <h3>Pieces</h3>

      <mat-form-field appearance="outline" class="w-230">
        <input matInput placeholder="Ex: 50" />
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="25px"
    fxLayoutAlign="start start"
    class="mb-5"
  >
    <div class="mb-0">
      <h3>Ready Date</h3>

      <mat-form-field appearance="outline">
        <mat-label>MM/DD/YYYY</mat-label>
        <input matInput [matDatepicker]="readyDatePicker" />
        <mat-datepicker-toggle
          matSuffix
          [for]="readyDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #readyDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mb-0">
      <h3>Expected Delivery Date</h3>

      <mat-form-field appearance="outline">
        <mat-label>MM/DD/YYYY</mat-label>
        <input matInput [matDatepicker]="DatePicker" />
        <mat-datepicker-toggle
          matSuffix
          [for]="DatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #DatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutGap="25px"
    fxLayoutAlign="start start"
    class=""
  >
    <div class="mb-0">
      <button
        mat-raised-button
        color="primary"
        class="mat-elevation-z0 rounded-none bttns-cancel"
        (click)="onNoClick()"
      >
        Cancel
      </button>
    </div>
    <div class="mb-0">
      <button
        mat-raised-button
        color="primary"
        class="mat-elevation-z0 rounded-none bttns-add"
        (click)="onAddSku()"
      >
        Add SKU
      </button>
    </div>
  </div>
</div>
