<div
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="start center"
  class="py-3 header-row"
>
  <div fxFlex="250px" class="px-3">Document Date</div>
  <div fxFlex class="px-3">Document Name</div>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  class="py-3 header-row"
  *ngFor="let doc of documents"
>
  <div fxFlex="250px" class="px-3">{{ doc.document_date }}</div>
  <div
    fxFlex
    class="px-3"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <div fxFlex>
      <p>{{ doc.document_name }}</p>
    </div>
    <div fxFlex>
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon>upload_file</mat-icon>
        <a href="{{ doc.link }}" target="_blank"> Download</a>
      </button>
    </div>
  </div>
</div>
