<div
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="start center"
  class="py-3 header-row"
>
  <div fxFlex="250px" class="px-3">Document Date</div>
  <div fxFlex class="px-3">Document Name</div>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  class="py-3"
  *ngFor="let action of [1, 2]"
>
  <div fxFlex="250px" class="px-3">12/12/2020</div>
  <div
    fxFlex
    class="px-3"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <div fxFlex><p>Cargo Arrival Notice & Explanations</p></div>
    <div fxFlex>
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon>upload_file</mat-icon> Download
      </button>
    </div>
  </div>
</div>
