<div class="shipments-page">
    <div fxLayout="row" fxLayoutGap="15px" class="mb-10" fxLayoutAlign="space-between center">
        <div fxFlex="80" fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="start center">
            <h1 class="mb-0">
                Shipments
            </h1>
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center"
                *ngFor="let item of ['Status', 'Mode', 'Date', 'Product']" class="shipments-page-selectbox">
                <h3 class="mb-0">{{item}}</h3>
                <mat-form-field class="w-full">
                    <!-- <mat-label>Status</mat-label> -->
                    <mat-select>
                        <mat-option>
                            This Year
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="20" class="text-right">
            <button mat-raised-button color="primary" class="mat-elevation-z0">
                <mat-icon>upload_file</mat-icon>
                Buyer Console
            </button>
        </div>
    </div>
    <div class="mb-10">
        <mat-card class="mat-elevation-z0">
            <div class="card-title mb-9" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutGap="25px">
                    <h2 class="mb-0">
                        Shipments
                    </h2>
                    <button mat-stroked-button color="primary"
                        [class.light-color-button]="viewShipmentsType !== 'bookmarked'">
                        Bookmarked
                    </button>
                    <button mat-stroked-button [class.light-color-button]="viewShipmentsType !== 'arriving'">
                        Arriving
                    </button>
                    <button mat-stroked-button [class.light-color-button]="viewShipmentsType !== 'booked'">
                        Booked
                    </button>
                </div>
                <a class="underline cursor-pointer">
                    View all
                </a>
            </div>
        </mat-card>
    </div>
    <div class="mb-10" *ngFor="let item of shipments">
        <mat-card class="mat-elevation-z0">
            <div class="card-body">
                <div fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
                        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
                            <h3 class="mb-0">HBL #0938847</h3>
                            <p class="mb-0">
                                SEW-EURODRIVE INDIA PVT. LTD. (CHENNAI)
                            </p>
                        </div>
                        <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
                            <div>
                                <p class="mb-0"><span class="bold">Container No.</span> : TEMU7464420</p>
                            </div>
                            <div>
                                <p class="mb-0"><span class="bold">MBL No.</span>: 320610011972</p>
                            </div>
                            <div>
                                <p class="mb-0"><span class="bold">Mode</span>: LCL-FCL</p>
                            </div>
                            <div>
                                <p class="mb-0"><span class="bold">ToS</span> : FOB</p>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                            <mat-icon>
                                public
                            </mat-icon>
                            <p class="mb-0 font-xs">
                                San Francisco, California :
                                <span class="font-bold">
                                    20 sep. 2021
                                </span>
                            </p>
                            <span class="font-bold mx-3">
                                To
                            </span>
                            <mat-icon>
                                public
                            </mat-icon>
                            <p class="mb-0 font-xs">
                                San Francisco, California :
                                <span class="font-bold">
                                    20 sep. 2021
                                </span>
                            </p>
                        </div>
                        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
                            <button mat-stroked-button class="mat-elevation-z0 light-color-button">
                                PO00039274
                            </button>
                            <button mat-stroked-button class="mat-elevation-z0 light-color-button">
                                PO0008776
                            </button>
                        </div>
                    </div>
                    <div class="overflow-hidden" fxLayout="column" fxLayoutAlign="start center">
                        <div class="w-full stepper mb-3" fxLayout="row" fxLayoutAlign="center">
                            <div class="step-container" *ngFor="let step of [1, 2, 3, 4, 5, 6, 7]; last as isLast"
                                fxFlex>
                                <div class="step-joiner">
                                </div>
                                <div class="step">
                                    <mat-icon>
                                        {{step === 3 ? 'flight': 'radio_button_unchecked'}}
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="w-full stepper-labels mb-3" fxLayout="row" fxLayoutAlign="center">
                            <div fxFlex class="step-label-container mx-1 text-center"
                                *ngFor="let step of [1, 2, 3, 4, 5, 6, 7]; first as isFirst; last as isLast">
                                <div class="status text-xs">
                                    <h5 class="mb-0">
                                        item #{{item.name}}
                                    </h5>
                                    <h6>
                                        step #{{step}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
                        <button mat-raised-button color="primary" class="mat-elevation-z0">
                            <mat-icon>upload_file</mat-icon>
                            Pre Alert Documents
                        </button>
                        <div class="cursor-pointer" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center"
                            (click)="item.seemore = !item.seemore">
                            <a class="underline">
                                See more
                            </a>
                            <span class="material-icons">
                                expand_more
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shipments-seemore" [class.my-10]="item.seemore">
                <mat-expansion-panel [expanded]="item.seemore" (opened)="item.seemore = true"
                    (closed)="item.seemore = false" class="mat-elevation-z0">
                    <mat-tab-group mat-align-tabs="start" color="primary" *ngIf="item.seemore">
                        <mat-tab label="Map">
                            <div class="mat-tab-content my-3">
                                Map
                            </div>
                        </mat-tab>
                        <mat-tab label="Activity">
                            <div class="mat-tab-content my-3">
                                Activity
                            </div>
                        </mat-tab>
                        <mat-tab label="Actions">
                            <div class="mat-tab-content my-3">
                                Actions
                            </div>
                        </mat-tab>
                        <mat-tab label="Cargo details">
                            <div class="mat-tab-content my-3">
                                Crago Details
                            </div>
                        </mat-tab>
                        <mat-tab label="Documents">
                            <div class="mat-tab-content my-3">
                                Documents
                            </div>
                        </mat-tab>
                        <mat-tab label="CAN">
                            <div class="mat-tab-content my-3">
                                CAN
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-expansion-panel>
            </div>
        </mat-card>
    </div>
</div>