<div class="shipments-page">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-5"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex
      fxFlex.gt-sm="85"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <div class="mb-0 page-header">Shipments</div>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
        fxHide
        fxShow.gt-sm
      >
        <h3 class="mb-0 secondary">Status:</h3>
        <mat-form-field class="w-full max100px">
          <mat-select
            (selectionChange)="onStatusChange($event.value)"
            [(ngModel)]="activeShipmentStatusType"
          >
            <mat-option
              *ngFor="let status of filters.status"
              [value]="status.value"
            >
              {{ status.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="5px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
        fxHide
        fxShow.gt-sm
      >
        <h3 class="mb-0 secondary">Mode:</h3>
        <mat-form-field class="w-full max100px">
          <mat-select (selectionChange)="onModeChange($event.value)">
            <mat-option *ngFor="let mode of filters.mode" [value]="mode.value">
              {{ mode.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
        fxHide
        fxShow.gt-sm
      >
        <h3 class="mb-0 secondary">From:</h3>
        <mat-form-field class="w-120">
          <!-- <mat-label>MM/DD/YYYY</mat-label> -->
          <input
            class="inputDate"
            placeholder="MM-DD-YYYY"
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="shipmentFromDate"
            (ngModelChange)="shipmentFromDateChange(shipmentFromDate)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
        fxHide
        fxShow.gt-sm
      >
        <h3 class="mb-0 secondary">To:</h3>
        <mat-form-field class="w-120">
          <!-- <mat-label>MM/DD/YYYY</mat-label> -->
          <input
            matInput
            placeholder="MM-DD-YYYY"
            [matDatepicker]="Topicker"
            [(ngModel)]="shipmentToDate"
            (ngModelChange)="shipmentToDateChange(shipmentToDate)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="Topicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #Topicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxFlex.gt-sm="15" class="text-right">
      <button
        mat-raised-button
        color="primary"
        class="mat-elevation-z0"
        (click)="goTo('/po', 'data')"
      >
        <mat-icon [svgIcon]="'download'" class="pr-2"></mat-icon> Buyer Console
      </button>
    </div>
  </div>

  <div class="mb-5" fxHide fxShow.gt-sm>
    <mat-card class="mat-elevation-z0">
      <div
        class="card-title mb-9"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="row" fxLayoutGap="25px">
          <div class="mb-0 main-header">Shipments</div>
          <button
            fxHide
            fxShow.gt-sm
            mat-stroked-button
            *ngFor="let shipmentStatusType of shipmentStatusTypes"
            [color]="
              shipmentStatusType.value == activeShipmentStatusType
                ? 'primary'
                : 'blue'
            "
            [class.light-color-button]="
              shipmentStatusType.value != activeShipmentStatusType
            "
            class="mat-elevation-z0 status-buttons"
            (click)="getShipmentDetails(shipmentStatusType.value)"
          >
            {{ shipmentStatusType.value }}
          </button>
        </div>
        <a class="view-all-link" (click)="getShipmentDetails()"> View all </a>
      </div>
    </mat-card>
  </div>
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  <div class="mb-5" *ngFor="let shipment of data">
    <mat-card class="mat-elevation-z0" *ngIf="!loading">
      <div class="card-body">
        <div fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center">
          <div
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutGap="15px"
            fxLayoutGap.gt-sm="50px"
            fxLayoutAlign="center start"
            fxLayoutAlign.gt-sm="space-between center"
          >
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="15px"
              fxLayoutAlign="center start"
              fxLayoutAlign.gt-sm="start center"
            >
              <div class="mb-0 fw-700 sub-header">
                {{ shipment.shipment_number }}
              </div>
              <p class="mb-0 plain-text">{{ shipment.customer_name }}</p>
            </div>
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="15px"
              fxLayoutAlign="center start"
              fxLayoutAlign.gt-sm="end center"
              class="pr-1"
            >
              <div class="">
                <p class="mb-0">
                  <span class="bold-text">Container No.</span> :
                  {{ shipment.container_no }}
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="bold-text">MBL No.</span> :
                  {{ shipment.master_no }}
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="bold-text">Mode</span> :
                  {{ shipment.mode }}
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="bold-text">ToS</span> :
                  {{ shipment.terms }}
                </p>
              </div>
            </div>
          </div>
          <div
            fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutGap="15px"
            fxLayoutGap.gt-sm="50px"
            fxLayoutAlign="center start"
            fxLayoutAlign.gt-sm="start center"
          >
            <div
              fxLayout="row"
              fxLayoutGap="5px"
              fxLayoutAlign="start center"
              fxHide
              fxShow.gt-sm
            >
              <mat-icon> public </mat-icon>
              <p class="plain-text mb-0">
                {{ shipment.origin }}:
                <span class="bold-text"> {{ shipment.ETD }} </span>
              </p>
              <span class="bold-text"> To </span>
              <mat-icon> public </mat-icon>
              <p class="plain-text mb-0">
                {{ shipment.destination }}:
                <span class="bold-text"> {{ shipment.ETA }} </span>
              </p>
            </div>
            <div
              fxLayout="row"
              fxLayoutGap="15px"
              fxLayoutAlign="start center"
              *ngIf="shipment.order_number"
            >
              <button
                mat-stroked-button
                class="mat-elevation-z0 light-color-button"
              >
                {{ shipment.order_number }}
              </button>
              <!-- <button
                mat-stroked-button
                class="mat-elevation-z0 light-color-button"
              >
                PO0008776
              </button> -->
            </div>
            <div
              fxLayout="column"
              fxLayoutGap="5px"
              fxLayoutAlign="center start"
              fxShow
              fxHide.gt-sm
            >
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon>
                  <svg
                    width="117"
                    height="88"
                    viewBox="0 0 117 88"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="0.0444336"
                      y="58.746"
                      width="116.555"
                      height="29.1388"
                      fill="#59C785"
                    />
                    <rect
                      x="0.0444336"
                      y="29.6072"
                      width="116.555"
                      height="29.1388"
                      fill="white"
                    />
                    <path
                      d="M58.3221 56.318C65.0275 56.318 70.4633 50.8822 70.4633 44.1768C70.4633 37.4714 65.0275 32.0356 58.3221 32.0356C51.6167 32.0356 46.1809 37.4714 46.1809 44.1768C46.1809 50.8822 51.6167 56.318 58.3221 56.318Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M58.3223 54.8003C64.1895 54.8003 68.9458 50.044 68.9458 44.1768C68.9458 38.3096 64.1895 33.5533 58.3223 33.5533C52.455 33.5533 47.6987 38.3096 47.6987 44.1768C47.6987 50.044 52.455 54.8003 58.3223 54.8003Z"
                      fill="white"
                    />
                    <path
                      d="M58.3222 46.3015C59.4957 46.3015 60.4469 45.3502 60.4469 44.1768C60.4469 43.0034 59.4957 42.0521 58.3222 42.0521C57.1488 42.0521 56.1975 43.0034 56.1975 44.1768C56.1975 45.3502 57.1488 46.3015 58.3222 46.3015Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M68.7862 46.0906C69.077 46.1289 69.3438 45.9241 69.3821 45.6333C69.4204 45.3424 69.2157 45.0756 68.9248 45.0373C68.634 44.999 68.3672 45.2038 68.3289 45.4946C68.2906 45.7855 68.4953 46.0523 68.7862 46.0906Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M47.6184 43.3778C47.9093 43.4161 48.1761 43.2113 48.2144 42.9205C48.2527 42.6296 48.048 42.3628 47.7571 42.3245C47.4663 42.2862 47.1994 42.491 47.1611 42.7818C47.1228 43.0727 47.3276 43.3395 47.6184 43.3778Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M56.7052 54.9097C56.6775 55.1998 56.8935 55.4607 57.1876 55.4924C57.4817 55.5242 57.7427 55.3147 57.7704 55.0246C57.7981 54.7345 57.5821 54.4736 57.288 54.4418C56.9938 54.4101 56.7329 54.6196 56.7052 54.9097Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M58.817 33.6733C58.7893 33.9634 59.0053 34.2243 59.2994 34.256C59.5936 34.2878 59.8545 34.0783 59.8822 33.7882C59.9099 33.4981 59.6939 33.2372 59.3998 33.2055C59.1057 33.1737 58.8447 33.3832 58.817 33.6733Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M64.0078 53.2718C64.1779 53.515 64.5092 53.578 64.7478 53.4126C64.9863 53.2471 65.0417 52.9158 64.8716 52.6726C64.7014 52.4293 64.3701 52.3663 64.1316 52.5318C63.893 52.6972 63.8376 53.0285 64.0078 53.2718Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M51.6779 35.8532C51.8481 36.0964 52.1794 36.1595 52.4179 35.994C52.6565 35.8286 52.7119 35.4972 52.5417 35.254C52.3716 35.0108 52.0403 34.9477 51.8017 35.1132C51.5632 35.2787 51.5078 35.61 51.6779 35.8532Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M49.3888 50.3365C49.1542 50.5109 49.1065 50.8437 49.2824 51.0799C49.4583 51.3161 49.7911 51.3662 50.0258 51.1918C50.2605 51.0175 50.3081 50.6846 50.1322 50.4485C49.9563 50.2123 49.6235 50.1622 49.3888 50.3365Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M66.4504 37.5183C66.2157 37.6927 66.1681 38.0255 66.3439 38.2617C66.5198 38.4979 66.8526 38.548 67.0873 38.3736C67.322 38.1993 67.3696 37.8664 67.1937 37.6303C67.0178 37.3941 66.685 37.344 66.4504 37.5183Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M66.4647 51.1085C66.6896 51.2703 67.0228 51.1993 67.2089 50.9501C67.395 50.7009 67.3635 50.3677 67.1387 50.2059C66.9138 50.0442 66.5806 50.1151 66.3945 50.3643C66.2084 50.6136 66.2398 50.9468 66.4647 51.1085Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M49.4149 38.2761C49.6398 38.4379 49.973 38.3669 50.1591 38.1177C50.3452 37.8684 50.3137 37.5353 50.0888 37.3735C49.864 37.2118 49.5308 37.2827 49.3447 37.5319C49.1586 37.7812 49.19 38.1143 49.4149 38.2761Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M51.6736 52.7799C51.4934 53.0348 51.5331 53.3665 51.7622 53.5209C51.9913 53.6752 52.323 53.5937 52.5032 53.3388C52.6833 53.0839 52.6436 52.7522 52.4146 52.5978C52.1855 52.4435 51.8537 52.525 51.6736 52.7799Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M64.0176 35.372C63.8374 35.6269 63.8771 35.9586 64.1062 36.113C64.3353 36.2673 64.667 36.1858 64.8471 35.9309C65.0273 35.676 64.9876 35.3443 64.7586 35.19C64.5295 35.0356 64.1977 35.1171 64.0176 35.372Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M58.794 54.9304C58.834 55.2384 59.0933 55.4785 59.3731 55.4667C59.6529 55.4548 59.8472 55.1955 59.8071 54.8876C59.7671 54.5796 59.5078 54.3395 59.228 54.3514C58.9483 54.3632 58.7539 54.6225 58.794 54.9304Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M56.7012 33.6929C56.7413 34.0009 57.0005 34.2409 57.2803 34.2291C57.5601 34.2172 57.7544 33.958 57.7144 33.65C57.6743 33.342 57.415 33.1019 57.1353 33.1138C56.8555 33.1256 56.6612 33.3849 56.7012 33.6929Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M47.5387 45.1238C47.2602 45.1425 47.0739 45.4077 47.1225 45.7162C47.1712 46.0246 47.4364 46.2595 47.7149 46.2407C47.9935 46.222 48.1798 45.9568 48.1311 45.6483C48.0825 45.3399 47.8172 45.105 47.5387 45.1238Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M68.7074 42.4299C68.4289 42.4487 68.2426 42.7139 68.2912 43.0223C68.3399 43.3308 68.6051 43.5657 68.8836 43.5469C69.1622 43.5282 69.3485 43.263 69.2998 42.9545C69.2512 42.6461 68.9859 42.4112 68.7074 42.4299Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M67.6357 48.7378C67.8915 48.8348 68.198 48.6855 68.3203 48.4044C68.4427 48.1232 68.3344 47.8167 68.0786 47.7197C67.8228 47.6228 67.5163 47.7721 67.394 48.0532C67.2717 48.3344 67.3799 48.6409 67.6357 48.7378Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M48.1587 40.7477C48.4145 40.8446 48.721 40.6953 48.8433 40.4142C48.9656 40.133 48.8574 39.8265 48.6016 39.7296C48.3458 39.6326 48.0393 39.7819 47.917 40.063C47.7947 40.3442 47.9029 40.6507 48.1587 40.7477Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M54.076 53.8829C53.9617 54.166 54.0792 54.4688 54.3385 54.5592C54.5977 54.6497 54.9005 54.4935 55.0148 54.2105C55.1291 53.9274 55.0115 53.6246 54.7523 53.5342C54.493 53.4437 54.1902 53.5999 54.076 53.8829Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M61.5113 34.1867C61.397 34.4697 61.5145 34.7725 61.7738 34.863C62.033 34.9535 62.3358 34.7973 62.4501 34.5143C62.5644 34.2312 62.4468 33.9284 62.1876 33.838C61.9283 33.7475 61.6255 33.9036 61.5113 34.1867Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M61.3303 54.1876C61.4395 54.4781 61.7405 54.6482 62.0024 54.5676C62.2644 54.4869 62.3881 54.186 62.2789 53.8955C62.1696 53.6049 61.8687 53.4348 61.6068 53.5154C61.3448 53.5961 61.221 53.897 61.3303 54.1876Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M54.029 34.4427C54.1383 34.7333 54.4392 34.9034 54.7011 34.8227C54.9631 34.7421 55.0869 34.4412 54.9776 34.1506C54.8684 33.8601 54.5674 33.69 54.3055 33.7706C54.0435 33.8513 53.9198 34.1522 54.029 34.4427Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M48.3514 47.64C48.0916 47.7293 47.9752 48.0341 48.0914 48.3207C48.2075 48.6073 48.5123 48.7673 48.7721 48.678C49.0318 48.5887 49.1483 48.2839 49.0321 47.9973C48.916 47.7107 48.6112 47.5507 48.3514 47.64Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M67.8817 39.7826C67.6219 39.8719 67.5055 40.1767 67.6216 40.4633C67.7378 40.75 68.0426 40.9099 68.3023 40.8206C68.5621 40.7313 68.6785 40.4265 68.5624 40.1399C68.4462 39.8533 68.1415 39.6933 67.8817 39.7826Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M67.6357 48.7378C67.8915 48.8348 68.198 48.6855 68.3203 48.4044C68.4427 48.1232 68.3344 47.8167 68.0786 47.7197C67.8228 47.6228 67.5163 47.7721 67.394 48.0532C67.2717 48.3344 67.3799 48.6409 67.6357 48.7378Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M48.1587 40.7477C48.4145 40.8446 48.721 40.6953 48.8433 40.4142C48.9656 40.133 48.8574 39.8265 48.6016 39.7296C48.3458 39.6326 48.0393 39.7819 47.917 40.063C47.7947 40.3442 47.9029 40.6507 48.1587 40.7477Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M54.076 53.8829C53.9617 54.166 54.0792 54.4688 54.3385 54.5592C54.5977 54.6497 54.9005 54.4935 55.0148 54.2105C55.1291 53.9274 55.0115 53.6246 54.7523 53.5342C54.493 53.4437 54.1902 53.5999 54.076 53.8829Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M61.5113 34.1867C61.397 34.4697 61.5145 34.7725 61.7738 34.863C62.033 34.9535 62.3358 34.7973 62.4501 34.5143C62.5644 34.2312 62.4468 33.9284 62.1876 33.838C61.9283 33.7475 61.6255 33.9036 61.5113 34.1867Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M61.3303 54.1876C61.4395 54.4781 61.7405 54.6482 62.0024 54.5676C62.2644 54.4869 62.3881 54.186 62.2789 53.8955C62.1696 53.6049 61.8687 53.4348 61.6068 53.5154C61.3448 53.5961 61.221 53.897 61.3303 54.1876Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M54.029 34.4427C54.1383 34.7333 54.4392 34.9034 54.7011 34.8227C54.9631 34.7421 55.0869 34.4412 54.9776 34.1506C54.8684 33.8601 54.5674 33.69 54.3055 33.7706C54.0435 33.8513 53.9198 34.1522 54.029 34.4427Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M48.3514 47.64C48.0916 47.7293 47.9752 48.0341 48.0914 48.3207C48.2075 48.6073 48.5123 48.7673 48.7721 48.678C49.0318 48.5887 49.1483 48.2839 49.0321 47.9973C48.916 47.7107 48.6112 47.5507 48.3514 47.64Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M67.8817 39.7826C67.6219 39.8719 67.5055 40.1767 67.6216 40.4633C67.7378 40.75 68.0426 40.9099 68.3023 40.8206C68.5621 40.7313 68.6785 40.4265 68.5624 40.1399C68.4462 39.8533 68.1415 39.6933 67.8817 39.7826Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M58.3215 54.8003L58.6857 48.4262L58.3215 45.3909L57.9573 48.4262L58.3215 54.8003Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M58.3211 33.5532L57.9568 39.9273L58.3211 42.9626L58.6853 39.9273L58.3211 33.5532Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M47.6987 44.1772L54.0729 44.5415L57.1082 44.1772L54.0729 43.813L47.6987 44.1772Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M68.9458 44.1768L62.5717 43.8125L59.5364 44.1768L62.5717 44.541L68.9458 44.1768Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M50.8097 51.6893L55.5744 47.4396L57.4631 45.0358L55.0593 46.9245L50.8097 51.6893Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M65.8339 36.665L61.0692 40.9146L59.1804 43.3184L61.5843 41.4297L65.8339 36.665Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M50.8087 36.6655L55.0583 41.4302L57.4622 43.3189L55.5734 40.9151L50.8087 36.6655Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M65.8331 51.6899L61.5835 46.9251L59.1797 45.0364L61.0684 47.4402L65.8331 51.6899Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M55.528 54.4645L57.5453 48.3421L58.0524 45.325L56.9308 48.2043L55.528 54.4645Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M61.1158 33.8909L59.0985 40.0134L58.5914 43.0305L59.713 40.1511L61.1158 33.8909Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M48.0771 41.5235L54.0997 43.4911L57.1319 43.7674L54.3223 42.596L48.0771 41.5235Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M68.5659 46.8306L62.5434 44.863L59.5112 44.5867L62.3208 45.7581L68.5659 46.8306Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M49.1378 49.4338L54.8343 46.6919L57.2544 44.8392L54.4379 45.9508L49.1378 49.4338Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M67.5058 38.9203L61.8092 41.6622L59.3892 43.5148L62.2057 42.4032L67.5058 38.9203Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M52.9855 34.9476L55.9134 40.6604L57.738 43.1555L56.4965 40.3553L52.9855 34.9476Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M63.6568 53.4072L60.729 47.6944L58.9044 45.1993L60.1458 47.9995L63.6568 53.4072Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M52.9861 53.4065L56.4971 47.9988L57.7386 45.1985L55.914 47.6937L52.9861 53.4065Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M63.6581 34.9473L60.1472 40.355L58.9057 43.1553L60.7303 40.6601L63.6581 34.9473Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M49.1371 38.92L54.4372 42.403L57.2537 43.5145L54.8336 41.6619L49.1371 38.92Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M67.5062 49.4334L62.2061 45.9505L59.3896 44.8389L61.8097 46.6915L67.5062 49.4334Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M48.0771 46.8306L54.3222 45.7581L57.1318 44.5867L54.0996 44.863L48.0771 46.8306Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M68.5665 41.5224L62.3213 42.5949L59.5117 43.7663L62.5439 43.49L68.5665 41.5224Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M55.5274 33.8899L56.9302 40.1501L58.0519 43.0295L57.5448 40.0124L55.5274 33.8899Z"
                      fill="#2E50A6"
                    />
                    <path
                      d="M61.1149 54.4643L59.7121 48.2041L58.5905 45.3247L59.0975 48.3418L61.1149 54.4643Z"
                      fill="#2E50A6"
                    />
                    <rect
                      x="0.0446777"
                      y="0.468307"
                      width="116.555"
                      height="29.1388"
                      fill="#FFA654"
                    />
                  </svg>
                </mat-icon>
                <p class="mb-0 font-xs">
                  {{ shipment.origin }}:
                  <br />
                  <span class="font-bold"> {{ shipment.ETD }} </span>
                </p>
              </div>
              <span class="font-bold mx-3"> To </span>
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-icon> public </mat-icon>
                <p class="mb-0 font-xs">
                  {{ shipment.destination }}:
                  <br />
                  <span class="font-bold"> {{ shipment.ETA }} </span>
                </p>
              </div>
            </div>
          </div>

          <!-- STEPPER -->
          <div class="overflow-auto" fxLayout="column">
            <div class="stepper mb-3" fxLayout="row">
              <div
                class="step-container"
                *ngFor="let step of shipment.milestones; last as isLast"
                fxFlex
              >
                <div class="step-joiner"></div>
                <div class="step">
                  <mat-icon class="transform rotate-90">
                    {{
                      step.milestone === shipment.status
                        ? "flight"
                        : "radio_button_unchecked"
                    }}
                  </mat-icon>
                </div>
              </div>
            </div>
            <div class="stepper mb-3" fxLayout="row">
              <div
                class="step-container"
                *ngFor="let step of shipment.milestones; last as isLast"
                fxFlex
              >
                <div class="step-label text-center">
                  <h5 class="mb-0">{{ step.milestone }}</h5>
                  <h6>{{ step.date }}</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- // STEPPER -->
          <!-- BUTTONS -->
          <div
            fxHide
            fxShow.gt-sm
            fxLayout="row"
            fxLayoutGap="15px"
            fxLayoutAlign="start center"
          >
            <button mat-raised-button color="primary" class="mat-elevation-z0">
              <mat-icon [svgIcon]="'download'" class="pr-2"></mat-icon>
              <a href="{{ shipment.pre_alert_document }}" target="_blank"
                >Pre Alert Documents</a
              >
            </button>
            <div
              class="cursor-pointer"
              fxLayout="row"
              fxLayoutGap="5px"
              fxLayoutAlign="start center"
              (click)="
                shipment.seemore = !shipment.seemore;
                shipment.seemore && seeMoreShipmentData(shipment)
              "
            >
              <a class="underline">
                {{ shipment.seemore ? "See less" : "See more" }}
              </a>
              <span class="material-icons"> expand_more </span>
            </div>
          </div>
          <div
            fxShow
            fxHide.gt-sm
            fxLayout="column"
            fxLayoutGap="15px"
            fxLayoutAlign="center start"
          >
            <button
              mat-raised-button
              color="primary"
              class="w-full mat-elevation-z0"
            >
              <mat-icon [svgIcon]="'download'" class="pr-2"></mat-icon>
              <a href="{{ shipment.pre_alert_document }}" target="_blank"
                >Pre Alert Documents</a
              >
            </button>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>See more</mat-label>
              <mat-select
                [(ngModel)]="shipment.seemoreMobile"
                (selectionChange)="seeMoreShipmentData(shipment)"
              >
                <mat-option value="" *ngIf="shipment.seemoreMobile">
                  See less
                </mat-option>
                <mat-option value="Map"> Map </mat-option>
                <mat-option value="Activity"> Activity </mat-option>
                <mat-option value="Actions"> Actions </mat-option>
                <mat-option value="Cargo Details"> Cargo Details </mat-option>
                <mat-option value="Documents"> Documents </mat-option>
                <!-- <mat-option value="CAN"> CAN </mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
          <!-- // BUTTONS -->
        </div>
      </div>
      <!-- SEE MORE TABS -->
      <div
        class="shipments-seemore"
        [class.my-10]="shipment.seemore"
        fxHide
        fxShow.gt-sm
      >
        <mat-expansion-panel
          [expanded]="shipment.seemore"
          (opened)="shipment.seemore = true"
          (closed)="shipment.seemore = false"
          class="mat-elevation-z0"
        >
          <mat-tab-group
            mat-align-tabs="start"
            color="primary"
            *ngIf="shipment.seemore"
          >
            <mat-tab label="Map">
              <app-shipmentmapview></app-shipmentmapview>
            </mat-tab>
            <mat-tab label="Activity">
              <app-shipmentactivity
                [shipment]="shipment"
              ></app-shipmentactivity>
            </mat-tab>
            <mat-tab label="Cargo Details">
              <div class="mat-tab-content my-3" *ngIf="cargo">
                <app-cargodetails [cargo]="cargo"></app-cargodetails>
              </div>
            </mat-tab>

            <mat-tab label="Actions">
              <div class="mat-tab-content my-3">
                <app-actions [updates]="updates"></app-actions>
              </div>
            </mat-tab>
            <mat-tab label="Documents">
              <div class="mat-tab-content my-3">
                <app-documents [documents]="documents"></app-documents>
              </div>
            </mat-tab>
            <!-- <mat-tab label="CAN" *ngIf="CAN">
                <div class="mat-tab-content my-3">
                  <app-can [CAN]="CAN"></app-can>
                </div>
              </mat-tab> -->
          </mat-tab-group>
        </mat-expansion-panel>
      </div>
      <!-- // SEE MORE TABS -->
      <!-- SEE MORE MOBILE -->
      <div fxShow fxHide.gt-sm *ngIf="shipment.seemoreMobile">
        <div *ngIf="shipment.seemoreMobile === 'Map'">
          <app-shipmentmapview></app-shipmentmapview>
        </div>
        <div *ngIf="shipment.seemoreMobile === 'Activity'">
          <app-shipmentactivity [shipment]="shipment"></app-shipmentactivity>
        </div>
        <div *ngIf="shipment.seemoreMobile === 'Actions'">
          <app-actions [updates]="updates"></app-actions>
        </div>
        <div *ngIf="shipment.seemoreMobile === 'Cargo Details'">
          <app-cargodetails [cargo]="cargo"></app-cargodetails>
        </div>
        <div *ngIf="shipment.seemoreMobile === 'Documents'">
          <app-documents [documents]="documents"></app-documents>
        </div>
        <!-- <div *ngIf="shipment.seemoreMobile === 'CAN'">
          <app-can [CAN]="CAN"></app-can>
        </div> -->
      </div>
    </mat-card>
  </div>
  <app-paginator
    *ngIf="!loading"
    [currentpage]="currentPage"
    [totalpages]="lastPage"
    (changePage)="onChangePage($event)"
  ></app-paginator>
</div>
