@import "./../../variables.scss";


.red-color-button {
  color: red;
}
.mat-form-field.max100px {
  max-width: 100px;
}
.status-tracker-container {
  width: 80%;
  max-width: 800px;
}
.stepper {
  width: 100%;
  .step-container {
    min-width: 200px;
    max-width: 200px;
  }
  .step {
    width: 24px;
    height: 24px;
    margin: auto;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .step-joiner {
    height: 0px;
    border-bottom: 2px dotted #ddd;
    position: relative;
    left: 50%;
    top: 12px;
  }
  .step-joiner.highlight {
    border-bottom: 2px dotted $fresonprimarycolor;
  }
  .step-joiner.disable {
    border-bottom: 2px dotted $fresonprimarycolor;
  }
  .step-container:last-of-type .step-joiner {
    border-bottom: none;
  }
}

::ng-deep {
  .mat-tab-label-active {
    .mat-tab-label-content {
      color: $fresonprimarycolor !important;
    }
  }
}
.fw-700 {
  font-size: 16px !important;
  font-weight: 700 !important;
}
.w-150 {
  width: 150px;
}
.shipments-hbl{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}
.shipment-customer{
  font-family: Helvetica;
  font-size: 15px;
  line-height: 19px;
}
.container{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
}

.orign-shipment{
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}
.shipments-header{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}
.shipments-sub-header{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
}