<div class="shipments-page">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-10"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex="80"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <h1 class="mb-0">Shipments</h1>
      <div
        fxLayout="row"
        fxLayoutGap="15px"
        fxLayoutAlign="space-between center"
        *ngFor="let selectionType of ['Status', 'Mode', 'Date', 'Product']"
        class="shipments-page-selectbox"
      >
        <h3 class="mb-0">{{ selectionType }}</h3>
        <mat-form-field class="w-full">
          <mat-select>
            <mat-option> This Year </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="20" class="text-right">
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon>upload_file</mat-icon> Buyer Console
      </button>
    </div>
  </div>
  <div class="mb-10">
    <mat-card class="mat-elevation-z0">
      <div
        class="card-title mb-9"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="row" fxLayoutGap="25px">
          <h2 class="mb-0">Shipments</h2>
          <button
            mat-stroked-button
            *ngFor="let type of ['Bookmarked', 'Arriving', 'Booked']"
            [color]="viewShipmentsType === type ? 'primary' : 'light'"
            [class.light-color-button]="viewShipmentsType !== type"
          >
            {{ type }}
          </button>
        </div>
        <a class="underline cursor-pointer"> View all </a>
      </div>
    </mat-card>
  </div>
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  <div class="mb-10" *ngFor="let shipment of data">
    <mat-card class="mat-elevation-z0">
      <div class="card-body">
        <div fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center">
          <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
              <h3 class="mb-0 fw-700">{{ shipment.booking_number }}</h3>
              <p class="mb-0">{{ shipment.customer_name }}</p>
            </div>
            <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start center">
              <div>
                <p class="mb-0">
                  <span class="bold fw-700">Container No.</span> :
                  {{ shipment.container_no }}
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="bold fw-700">MBL No.</span> :
                  {{ shipment.master_no }}
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="bold fw-700">Mode</span> :
                  {{ shipment.mode }}
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="bold fw-700">ToS</span> :
                  {{ shipment.terms }}
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
              <mat-icon> public </mat-icon>
              <p class="mb-0 font-xs">
                {{ shipment.origin }}:
                <span class="font-bold"> {{ shipment.ETD }} </span>
              </p>
              <span class="font-bold mx-3"> To </span>
              <mat-icon> public </mat-icon>
              <p class="mb-0 font-xs">
                {{ shipment.destination }}:
                <span class="font-bold"> {{ shipment.ETA }} </span>
              </p>
            </div>
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
              <button
                mat-stroked-button
                class="mat-elevation-z0 light-color-button"
              >
                PO00039274
              </button>
              <button
                mat-stroked-button
                class="mat-elevation-z0 light-color-button"
              >
                PO0008776
              </button>
            </div>
          </div>
          <div
            class="overflow-hidden"
            fxLayout="column"
            fxLayoutAlign="start center"
          >
            <div
              class="w-full stepper mb-3"
              fxLayout="row"
              fxLayoutAlign="center"
            >
              <div
                class="step-container"
                *ngFor="let step of shipment.milestones; last as isLast"
                fxFlex
              >
                <div class="step-joiner"></div>
                <div class="step">
                  <mat-icon class="transform rotate-90">
                    {{
                      step.milestone === shipment.status
                        ? "flight"
                        : "radio_button_unchecked"
                    }}
                  </mat-icon>
                </div>
              </div>
            </div>
            <div
              class="w-full stepper-labels mb-3"
              fxLayout="row"
              fxLayoutAlign="center"
            >
              <div
                fxFlex
                class="step-label-container mx-1 text-center"
                *ngFor="
                  let step of shipment.milestones;
                  first as isFirst;
                  last as isLast
                "
              >
                <div class="status text-xs">
                  <h5 class="mb-0">{{ step.milestone }}</h5>
                  <h6>{{ step.date }}</h6>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
            <button mat-raised-button color="primary" class="mat-elevation-z0">
              <mat-icon>upload_file</mat-icon>
              <a href="{{ shipment.pre_alert_document }}" target="_blank"
                >Pre Alert Documents</a
              >
            </button>
            <div
              class="cursor-pointer"
              fxLayout="row"
              fxLayoutGap="5px"
              fxLayoutAlign="start center"
              (click)="
                shipment.seemore = !shipment.seemore;
                shipment.seemore && seeMoreShipmentData(shipment)
              "
            >
              <a class="underline">
                {{ shipment.seemore ? "See less" : "See more" }}
              </a>
              <span class="material-icons"> expand_more </span>
            </div>
          </div>
        </div>
      </div>
      <div class="shipments-seemore" [class.my-10]="shipment.seemore">
        <mat-expansion-panel
          [expanded]="shipment.seemore"
          (opened)="shipment.seemore = true"
          (closed)="shipment.seemore = false"
          class="mat-elevation-z0"
        >
          <mat-tab-group
            mat-align-tabs="start"
            color="primary"
            *ngIf="shipment.seemore"
            ><mat-tab label="Map">
              <app-shipmentmapview></app-shipmentmapview>
            </mat-tab>
            <mat-tab label="Activity">
              <app-shipmentactivity
                [shipment]="shipment"
              ></app-shipmentactivity>
            </mat-tab>
            <mat-tab label="Cargo Details">
              <div class="mat-tab-content my-3" *ngIf="cargo">
                <app-cargodetails [cargo]="cargo"></app-cargodetails>
              </div>
            </mat-tab>

            <mat-tab label="Actions" *ngIf="updates">
              <div class="mat-tab-content my-3">
                <app-actions [updates]="updates"></app-actions>
              </div>
            </mat-tab>
            <mat-tab label="Documents" *ngIf="documents">
              <div class="mat-tab-content my-3">
                <app-documents [documents]="documents"></app-documents>
              </div>
            </mat-tab>
            <mat-tab label="CAN" *ngIf="CAN">
              <div class="mat-tab-content my-3">
                <app-can [CAN]="CAN"></app-can>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-expansion-panel>
      </div>
    </mat-card>
  </div>
</div>
