@import "./../../variables.scss";

.light-color-button {
  color: $fresonlightcolor !important;
}
.status-tracker-container {
  width: 80%;
  max-width: 800px;
}
::ng-deep {
  .mat-tab-label-active {
    .mat-tab-label-content {
      color: $fresonprimarycolor !important;
    }
  }
}
mat-icon.search-icon {
  top: 7px !important;
  margin-right: 7px !important;
  position: relative;
}

.quotation-header{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}
.quotation-sub-header{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
}
.quotation-table-header{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}