<div class="quotations-page">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-10"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex
      fxFlex.gt-sm="80"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <div class="mb-0 pl-2 page-header">Quotations</div>
      <div
        fxLayout="row"
        fxLayoutGap="15px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
        fxHide
        fxShow.gt-sm
      >
        <h3 class="mb-0">Type:</h3>
        <mat-form-field class="w-full quote-type">
          <!-- <mat-label>Status</mat-label> -->
          <mat-select
            [(ngModel)]="sfilter_status"
            (ngModelChange)="onQuotationFilterSelect(sfilter_status)"
            color="accent"
          >
            <mat-option
              [value]="filter"
              *ngFor="let filter of quotationFilters"
            >
              {{ filter }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxFlex.gt-sm="20" class="text-right pr-2">
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon [svgIcon]="'download'" class="pr-2"></mat-icon>
        <a href="{{ quoteLink }}" target="_blank"> Request Quote </a>
      </button>
    </div>
  </div>
  <div class="">
    <mat-card class="mat-elevation-z0">
      <div
        class="card-title mb-9"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="row" fxLayoutGap="25px">
          <div class="mb-0 quotation-sub-header">Quotations</div>
          <button
            fxHide
            fxShow.gt-sm
            mat-stroked-button
            [color]="quotationType === _quotationType.value ? 'primary' : ''"
            [class.light-color-button]="quotationType !== _quotationType.value"
            (click)="quotationType = _quotationType.value"
            *ngFor="let _quotationType of quotationTypes"
          >
            {{ _quotationType.label }}
          </button>
        </div>
        <div class="search-form" fxHide fxShow.gt-sm>
          <form>
            <mat-form-field class="quotations-search-input">
              <mat-label class="">Search</mat-label>
              <mat-icon matPrefix class="search-icon">search</mat-icon>
              <input
                type="search"
                matInput
                [ngModel]="filter"
                name="filterField"
                (ngModelChange)="filterChanged($event)"
              />
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="mb-10">
    <mat-card class="mat-elevation-z0">
      <div class="card-body">
        <div *ngIf="quotationType === 'quotations' && data">
          <app-quotationslist
            [filter]="filter"
            [data]="data"
          ></app-quotationslist>
        </div>
        <div *ngIf="quotationType === 'contracts'">
          <app-contractslist
            [filter]="filter"
            [data]="data"
          ></app-contractslist>
        </div>
      </div>
    </mat-card>
  </div>
</div>
