<div class="purchase-order-page">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-10"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex="80"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <div class="mb-0 page-header">PO Status</div>
      <div
        fxLayout="row"
        fxLayoutGap="15px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
      >
        <h3 class="mb-0">Type:</h3>
        <mat-form-field class="w-full">
          <!-- <mat-label>Status</mat-label> -->
          <mat-select
            [(ngModel)]="poFilter"
            (ngModelChange)="onPoFilterSelect(poFilter)"
          >
            <mat-option value="ALL"> ALL </mat-option>
            <mat-option value="PENDING"> PENDING </mat-option>
            <mat-option value="IN TRANSIT"> IN TRANSIT </mat-option>
            <mat-option value="CLOSED"> CLOSED </mat-option>
            <mat-option value="PENDING TO SHIP"> PENDING TO SHIP </mat-option>
            <mat-option value="PENDING TO APPROVE">
              PENDING TO APPROVE
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <h3 class="mb-0">Origin:</h3>
        <mat-form-field class="w-full">
          <mat-select>
            <mat-option> History </mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
    <div fxFlex="20" class="text-right">
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon [svgIcon]="'download'" class="pr-2"></mat-icon>
        <a href="{{ Request_Quote_link }}" target="_blank">Request Quote</a>
      </button>
    </div>
  </div>
  <div class="p-8 mat-card">
    <table
      mat-table
      [dataSource]="dataSource1"
      matSort
      class="w-full mat-elevation-z0"
      multiTemplateDataRows
    >
      <!-- Position Column -->
      <ng-container matColumnDef="PO No">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">PO No</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">
          {{ element.po_number }}
        </td>
      </ng-container>

      <!-- for expansion panel every row expansion details -->

      <!-- Name Column -->
      <ng-container matColumnDef="Origin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">Origin</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">{{ element.origin }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Destination">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">Destination</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">{{ element.destination }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Supplier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">Supplier</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">
          {{ element.supplier }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Number of SKU’s">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text">
          <span class="bold-text">Number of SKU’s</span>
        </th>
        <td mat-cell *matCellDef="let element" class="plain-text">
          {{ element.no_of_sku }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Order Pcs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">Order Pcs</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">
          {{ element.orderpieces }}
        </td>
      </ng-container>
      <ng-container matColumnDef="In Transit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">In Transit</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">
          {{ element.intransit }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Closed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-text"><span class="bold-text">Closed</span></th>
        <td mat-cell *matCellDef="let element" class="plain-text">
          {{ element.closed }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <a
            class="underline cursor-pointer  bold-text"
            (click)="getpurchaseorderdetail(element.po_number)"
          >
            Details
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>

      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns1"
        class="element-row"
        [class.expanded-row]="element.isExpanded"
      ></tr>

      <!-- <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="detail-row"
    ></tr> -->
    </table>
  </div>
</div>
