<div class="shipments-page">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-10"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex="80"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <h1 class="mb-0">PO Status</h1>
      <div
        fxLayout="row"
        fxLayoutGap="15px"
        fxLayoutAlign="space-between center"
        class="shipments-page-selectbox"
      >
        <h3 class="mb-0">Type:</h3>
        <mat-form-field class="w-full">
          <!-- <mat-label>Status</mat-label> -->
          <mat-select>
            <mat-option> History </mat-option>
          </mat-select>
        </mat-form-field>
        <h3 class="mb-0">Type:</h3>
        <mat-form-field class="w-full">
          <!-- <mat-label>Status</mat-label> -->
          <mat-select>
            <mat-option> History </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="20" class="text-right">
      <button mat-raised-button color="primary" class="mat-elevation-z0">
        <mat-icon>upload_file</mat-icon>
        Request Quote
      </button>
    </div>
  </div>

  <div class="mb-10">
    <mat-card class="mat-elevation-z0">
      <div class="card-body">
        <!-- PO table -->
      </div>
    </mat-card>
  </div>
</div>
