@import "./../../variables.scss";

.light-color-button {
  color: $fresonlightcolor !important;
}
.status-tracker-container {
  width: 80%;
  max-width: 800px;
}
::ng-deep {
  .mat-tab-label-active {
    .mat-tab-label-content {
      color: $fresonprimarycolor !important;
    }
  }
}
mat-icon.search-icon {
  top: 7px !important;
  margin-right: 7px !important;
  position: relative;
}

tr.mat-row,
tr.mat-footer-row {
  height: 70px;
}
td.mat-cell,
th.mat-header-cell,
.mat-footer-cell {
  border-bottom-style: none;
  color: $fresonaccentcolor;
}
.mat-header-row {
  background-color: $fresconheaderscolor;
}
tr.detail-row {
  height: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.inv_box {
  width: 302px;
  height: 155px;
  background: #ffffff;
  .para {
    color: #696974;
  }
}
.green {
  color: #3dd598;
  font-size: 16px;
  svg {
    display: inline-block !important;
  }
}
.schedules-table-header {
  background-color: #f7f8fa;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}
.schedule-item {
  height: 50px;
}
.header-row {
  background-color: #f7f8fa;
}
.bold {
  font-weight: bold !important;
}
.normal {
  font-weight: normal !important;
}
a {
  // color: #fff !important;
}
.w-table {
  width: 95%;
}

.mat-tab-label-content {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}

.invoice-page-header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 37px;
}
.invoice-page-header1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
}

.total-due-amt {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.info-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
}

.invoice-table-header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}
.invoice-rows {
  font-family: Helvetica;
  font-size: 15px;
  line-height: 26px;
}
.details-btn {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 37px;
  text-decoration-line: underline;
  color: #000000;
}

::ng-deep .mat-sort-header-arrow[style] {
  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    //Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }
}

::ng-deep .mat-sort-header-arrow {
  transform: none !important;
  opacity: 1 !important;
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-pointer-middle {
    display: none;
  }
}
::ng-deep .mat-sort-header-arrow[style] {
  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left,
    .mat-sort-header-pointer-right,
    .mat-sort-header-pointer-middle {
      display: none;
    }
  }
}

//My custom ascending arrow
[aria-sort="none"] {
  ::ng-deep .mat-sort-header-arrow {
    transform: none !important;

    .mat-sort-header-indicator {
      /* Vector 11 */
      transform: none !important;
      &::after {
        content: url("../../assets/icons/triangle.svg");
        height: 5px;
      }
    }
  }
}
[aria-sort="ascending"] {
  ::ng-deep .mat-sort-header-arrow {
    transform: none !important;
    .mat-sort-header-indicator {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid #313131;
        margin-top: 4px;
        display: inline-block;
      }
    }
  }
}

// My custom descending arrow
[aria-sort="descending"] {
  ::ng-deep .mat-sort-header-arrow {
    transform: none !important;
    .mat-sort-header-indicator {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #313131;
        margin-bottom: 8px;
      }
    }
  }
}
.invoice-page {
  mat-select {
    padding-top: 6px;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
