.cargo-header {
  background-color: #f7f8fa;
  padding-left: 16px;
  padding-right: 16px;
}
.cargo-description {
  padding-left: 16px;
  padding-right: 16px;
}
.cargo-deatil {
  margin-top: 7px;
  margin-bottom: 7px;
}
