<div class="mb-5">
  <div class="cargo-header py-3">
    <div class="mb-0 bold-text">
      Notify Name : {{ cargoDetails.notify_name }}
    </div>
  </div>
  <div class="cargo-description py-3">
    <div
      fxLayout="column"
      fxLayout.gt-sm="row wrap"
      fxLayoutGap.gt-sm="50px"
      fxLayoutAlign.gt-sm="start center"
    >
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Number of Pieces: </span>
          <span class="plain-text">{{ cargoDetails.no_of_pieces }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Commodity: </span>
          <span class="plain-text">{{ cargoDetails.Commodity }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Gross Weight: </span>
          <span class="plain-text">{{ cargoDetails.gross_weight }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Volume: </span>
          <span class="plain-text">{{ cargoDetails.volume }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Shipper Invoice: </span>
          <span class="plain-text">{{ cargoDetails.shipper_invoice_no }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">POL: </span>
          <span class="plain-text">{{ cargoDetails.POL }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="font-bold mr-2">POD: </span>
          <span class="plain-text">{{ cargoDetails.POD }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Express Original: </span>
          <span class="plain-text">{{ cargoDetails.express_original }}</span>
        </p>
      </div>
      <div class="cargo-deatil">
        <p class="mb-0">
          <span class="bold-text mr-2">Container No: </span>
          <span class="plain-text">{{ cargoDetails.container_no }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
