.w-50 {
  width: 50%;
}
.text {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px;
  padding-top: 4px;
  color: #92929d !important;
}
.primary {
  color: #f01e1e;
}
