<mat-card class="mat-elevation-z0">
    <div class="card-title mb-9" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="25px">
            <h2 class="mb-0">
                Schedules
            </h2>
            <button mat-stroked-button [color]="scheduleType === 'air'?'warn':'light'" class="mat-elevation-z0"
                [class]="scheduleType === 'air'? '' : 'secondary-text-color'">
                Air
            </button>
            <button mat-stroked-button [color]="scheduleType === 'ocean'?'warn':'light'" class="mat-elevation-z0"
                [class]="scheduleType === 'ocean'? '' : 'secondary-text-color'">
                Ocean
            </button>
        </div>
        <a class="underline secondary-text-color">
            View all
        </a>
    </div>
    <div class="card-body">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
            <h3 class="mb-0">
                Cut Off Date
            </h3>
            <h3 class="mb-0 secondary-text-color">
                Origin Date
            </h3>
            <h3 class="mb-0 secondary-text-color">
                Dest. Date
            </h3>
            <h3 class="mb-0 secondary-text-color">
                
            </h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="mb-3">
            <h5 class="mb-0">
                20 Sep, 2021
            </h5>
            <h5 class="mb-0">
                21 Sep, 2021
            </h5>
            <h5 class="mb-0">
                22 Sep, 2021
            </h5>
            
            <button mat-raised-button color="warn" class="mat-elevation-z0">
                Book
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3">
            <h5 class="mb-0">
                20 Sep, 2021
            </h5>
            <h5 class="mb-0">
                21 Sep, 2021
            </h5>
            <h5 class="mb-0">
                22 Sep, 2021
            </h5>
            <h5 class="mb-0">
                <button mat-raised-button color="warn" class="mat-elevation-z0">
                    Book
                </button>
            </h5>
        </div>
    </div>
</mat-card>