@import "tailwind.scss";
@import "variables.scss";
@import "theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mat-primary {
  svg {
    fill: $fresonprimarycolor;
    color: $fresonprimarycolor;
  }
  a {
    color: $fresonprimarycolor;
    border-bottom-color: $fresonprimarycolor;
  }
}
.mat-accent {
  svg {
    fill: $fresonaccentcolor;
    color: $fresonaccentcolor;
  }
  a {
    color: $fresonprimarycolor;
    border-bottom-color: $fresonprimarycolor;
  }
}
.mat-stroked-button.mat-primary {
  border-color: $fresonprimarycolor;
}
.accent {
  color: $fresonaccentcolor !important;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 0px !important ;
}
.mat-form-field-appearance-outline {
  .mat-form-field-outline-end,
  .mat-form-field-outline-start {
    border-radius: 0px !important;
  }
}
.spinner {
  margin: auto;
}
