@import "tailwind.scss";
@import "variables.scss";
@import "theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: Helvetica;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mat-typography {
  // max-width: 1440px;
  // margin: auto;
}
.mat-primary:not(button) {
  svg {
    fill: $fresonprimarycolor;
    color: $fresonprimarycolor;
  }
}
a.mat-primary {
  color: $fresonprimarycolor;
  border-bottom-color: $fresonprimarycolor;
}
.mat-accent {
  svg {
    fill: $fresonaccentcolor;
    color: $fresonaccentcolor;
  }
  a {
    color: $fresonprimarycolor;
    border-bottom-color: $fresonprimarycolor;
  }
}
.mat-stroked-button.mat-primary {
  border-color: $fresonprimarycolor;
}
.accent {
  color: $fresonaccentcolor !important;
}
.secondary {
  color: $fresconsecondarycolor !important;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  border-radius: 0px !important ;
}
.mat-form-field-appearance-outline {
  .mat-form-field-outline-end,
  .mat-form-field-outline-start {
    border-radius: 0px !important;
  }
}
.spinner {
  margin: auto;
}

.mat-expansion-indicator::after,
.mat-expansion-indicator::before {
  border-color: #313131;
  width: 12px;
  height: 12px;
}

.status-buttons {
  width: 7.5rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.light-color-button {
  color: #c4c4c4;
}

.mat-tab-label-content {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}
button {
  border-radius: unset !important;
}
.mat-card {
  border-radius: unset !important;
  padding: 10px 16px 0px 16px !important;
}
.dashboard-page {
  .mat-card {
    border: 1px solid #efe9e9;
  }
}
.user-data {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #171725;
}
.user-role {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 0.1px;

  color: #92929d;
}
// 1600px  & 2000px
@media (min-width: 1600px) {
  .page-header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    /* or 132% */

    color: #313131;
  }
  .main-header {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    color: #313131;
  }
  .sub-header {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 19px;
    color: #313131;
  }
  .plain-text {
    font-size: 15px;
    line-height: 19px;
    color: #313131;
  }
  .bold-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
  }
  .button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
  }
  .view-all-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 37px;
    text-decoration-line: underline;
    color: #313131;
    cursor: pointer;
  }
}

// 1153 to 1440
@media (min-width: 1153px) and (max-width: 1440px) {
  .page-header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height, or 125% */

    color: #313131;
  }
  .main-header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #313131;
  }
  .sub-header {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #313131;
  }
  .plain-text {
    font-size: 13px;
    line-height: 16px;
    color: #313131;
  }
  .bold-text {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #313131;
  }
  .button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .view-all-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #313131;
    cursor: pointer;
  }
}

//1153 px

@media (min-width: 1024px) and (max-width: 1153px) {
  .page-header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18.0865px;
    line-height: 24px;
    /* or 132% */

    color: #313131;
  }
  .main-header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #313131;
  }
  .sub-header {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    color: #313131;
  }
  .plain-text {
    font-size: 11px;
    line-height: 12px;
    color: #313131;
  }
  .bold-text {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    color: #313131;
  }
  .button-text {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #f01e1e;
  }
  .view-all-link {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #313131;
    cursor: pointer;
  }
}
.shipments-page {
  .mat-datepicker-toggle {
    button {
      vertical-align: middle !important;
    }
  }
}
.invoice-type,
.quote-type {
  .mat-form-field-wrapper {
    width: 50%;
  }
}
