@import "tailwind.scss";
@import "variables.scss";
@import "theme.scss";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mat-primary {
  svg {
    fill: $fresonprimarycolor;
    color: $fresonprimarycolor;
  }
}
.mat-accent {
  svg {
    fill: $fresonaccentcolor;
    color: $fresonaccentcolor;
  }
}
.mat-stroked-button.mat-primary {
  border-color: $fresonprimarycolor;
}
.accent {
  color: $fresonaccentcolor !important;
}
.mat-primary {
  svg {
    fill: $fresonprimarycolor;
    color: $fresonprimarycolor;
  }
}
.mat-accent {
  svg {
    fill: $fresonaccentcolor;
    color: $fresonaccentcolor;
  }
}
