<div
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="start center"
  class="py-3 header-row"
>
  <div fxFlex="250px" class="px-3">Date</div>
  <div fxFlex class="px-3">Things Todo</div>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  class="py-3"
  *ngFor="let update of updates"
>
  <div fxFlex="250px" class="px-3">{{ update.remarks_date }}</div>
  <div
    fxFlex
    class="px-3"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <p>{{ update.remarks_description }}</p>
  </div>
</div>
