<div class="ebooking-page">
  <div
    fxLayout="row"
    fxLayoutGap="15px"
    class="mb-10"
    fxLayoutAlign="space-between center"
  >
    <div
      fxFlex="80"
      fxLayout="row wrap"
      fxLayoutGap="25px"
      fxLayoutAlign="start center"
    >
      <div class="mb-0 page-header pl-2 mt-4">E-Booking</div>
    </div>
  </div>
  <!-- Add a New Shipment -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0" expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Add a New Shipment</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-0">
          <div class="mb-2">
            <div class="header-18">Shipment name</div>
          </div>
          <div class="mb-1">
            <div>
              <mat-form-field appearance="outline" class="shipment-name">
                <input matInput placeholder="web@plumweb.ru" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-3" *ngFor="let shipmentOption of shipmentOptions">
          <div fxLayout="row" class="mb-2">
            <div class="header-18">Select {{ shipmentOption.name }}</div>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="25px">
            <div
              *ngFor="let currentOption of shipmentOption.options"
              class="my-2 buttons"
            >
              <button
                mat-stroked-button
                class="btn-item"
                [color]="
                  currentOption === shipmentOption.selectedValue
                    ? 'primary'
                    : 'light'
                "
                [class.light-color-button]="
                  currentOption !== shipmentOption.selectedValue
                "
                (click)="
                  shipmentOption.selectedValue = currentOption;
                  scheduleApiCallMethod()
                "
              >
                {{ currentOption }}
              </button>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="row" class="mb-2">
            <div class="header-18">Select Incoterms</div>
          </div>
          <mat-form-field appearance="outline" class="no-bottom-padding w-30">
            <mat-select [(ngModel)]="ebooking.sTosName">
              <!-- <mat-option [value]="sendto"> Others </mat-option> -->
              <mat-option value="CFR">C&F COST AND FREIGHT</mat-option>
              <mat-option value="CIF">COST, INSURANCE AND FREIGHT</mat-option>
              <mat-option value="CIP"
                >CARRIAGE AND INSURANCE PAID TO</mat-option
              >
              <mat-option value="CPT">CARRIAGE PAID TO</mat-option>
              <mat-option value="DAP">DELIVERED AT PLACE</mat-option>
              <mat-option value="DAT">DELIVERED AT TERMINAL</mat-option>
              <mat-option value="DDP">DELIVERED DUTY PAID</mat-option>
              <mat-option value="EXW">EX WORKS</mat-option>
              <mat-option value="FAS">FREE ALONGSIDE SHIP</mat-option>
              <mat-option value="FCA">FREE CARRIER</mat-option>
              <mat-option value="FOB">FREE ON BOARD</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Shipment Origin -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Shipment Origin</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-0">
          <div class="mb-2">
            <div class="header-18">Origin Port</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start end"
            >
              <mat-form-field appearance="outline" class="w-30">
                <input
                  type="text"
                  placeholder="Search Port"
                  matInput
                  [(ngModel)]="ebooking.sPOL_Name"
                  (ngModelChange)="getOriginport($event)"
                  [matAutocomplete]="originAutoComp"
                />
                <mat-autocomplete #originAutoComp="matAutocomplete">
                  <mat-option
                    *ngFor="let item of originDataList"
                    [value]="item.port_name"
                    (click)="onOriginDataListSelect(item)"
                  >
                    {{ item.port_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-checkbox color="warn" class="pb-5 w-30">
                Pick-up required
              </mat-checkbox>
            </div>
          </div>
        </div>

        <div class="mb-0">
          <div class="mb-2">
            <div class="header-18">Pick-Up Location</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field appearance="outline" class="w-30">
                <input
                  [(ngModel)]="ebooking.sPickupplace"
                  matInput
                  placeholder="Search Address/City"
                />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-30">
                <input
                  [(ngModel)]="ebooking.sPickupzipcode"
                  matInput
                  placeholder="ZIP Code"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-0">
          <div class="mb-2">
            <div class="header-18">Cargo Ready for Pickup Date</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field appearance="outline" class="w-30">
                <mat-label>MM/DD/YYYY</mat-label>
                <input
                  matInput
                  [matDatepicker]="readyDatePicker"
                  [(ngModel)]="ebooking.sCargoReadyDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="readyDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #readyDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Shipment Destination -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Shipment Destination</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-0">
          <div class="mb-2">
            <div class="header-18">Destination Port</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start end"
            >
              <mat-form-field appearance="outline" class="w-30">
                <input
                  type="text"
                  matInput
                  [(ngModel)]="ebooking.sFDC_Name"
                  (ngModelChange)="getDestinationport($event)"
                  [matAutocomplete]="destAutoComp"
                />
                <mat-autocomplete #destAutoComp="matAutocomplete">
                  <mat-option
                    *ngFor="let item of destinationDataList"
                    [value]="item.port_name"
                    (click)="onDestinationDataListSelect(item)"
                  >
                    {{ item.port_name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-checkbox color="warn" class="pb-5 w-30 plain-text"
                >Delivery required</mat-checkbox
              >
            </div>
          </div>
        </div>

        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Delivery Location</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input
                  [(ngModel)]="ebooking.sDlylocation"
                  matInput
                  placeholder="Search Address/City"
                />
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input
                  [(ngModel)]="ebooking.sDlyzipcode"
                  matInput
                  placeholder="Zip code"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Cargo Ready for Delivery Date</div>
          </div>
          <div class="mb-1">
            <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start end">
              <mat-form-field appearance="outline" class="w-30">
                <mat-label>MM/DD/YYYY</mat-label>
                <input
                  matInput
                  [matDatepicker]="destinationPicker"
                  [(ngModel)]="ebooking.sDlycargordydate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="destinationPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #destinationPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- Enter Customer Informations -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Enter Customer Informations</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Shipper</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start end"
            >
              <mat-form-field appearance="outline" class="w-30">
                <input
                  type="text"
                  matInput
                  [(ngModel)]="ebooking.sShipperName"
                  (ngModelChange)="getShipperName($event)"
                  [matAutocomplete]="auto"
                  placeholder="Select a Shipper"
                />
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let item of shipperNameList"
                    [value]="item.name"
                    (click)="onShipperDataListSelect(item)"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-checkbox color="warn" class="pb-5 w-30 plain-text"
                >Pick-up required</mat-checkbox
              >
            </div>
          </div>
        </div>

        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Address</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input
                  matInput
                  [(ngModel)]="ebooking.sShipperAddr"
                  placeholder="Enter your address"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Email</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input matInput placeholder="Enter a valid email address" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutAlign="start start"
            >
              <div>
                <div class="mb-2">
                  <div class="header-18">Phone</div>
                </div>
                <mat-form-field appearance="outline" class="width-15 mr-2">
                  <input matInput placeholder="+33" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-60">
                  <input matInput placeholder="Phone number" />
                </mat-form-field>
              </div>

              <div>
                <div class="mb-2">
                  <div class="header-18">Mobile</div>
                </div>
                <mat-form-field appearance="outline" class="width-15 mr-2">
                  <input matInput placeholder="+33" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-60">
                  <input matInput placeholder="Mobile number" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Enter Consignee info -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Enter Consignee Informations</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Consignee</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start end"
            >
              <mat-form-field appearance="outline" class="w-30">
                <input
                  type="text"
                  matInput
                  [(ngModel)]="ebooking.sConsigName"
                  (ngModelChange)="getConsigneeName($event)"
                  [matAutocomplete]="consigneeAuto"
                />
                <mat-autocomplete #consigneeAuto="matAutocomplete">
                  <mat-option
                    *ngFor="let item of consigneeNameList"
                    [value]="item.name"
                    (click)="onConsigneeDataListSelect(item)"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-checkbox color="warn" class="pb-5 w-30 plain-text"
                >Pick-up required</mat-checkbox
              >
            </div>
          </div>
        </div>

        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Address</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input matInput [(ngModel)]="ebooking.sConsigAddr" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Email</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input matInput placeholder="Enter a valid email address" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutAlign="start start"
            >
              <div>
                <div class="mb-2">
                  <div class="header-18">Phone</div>
                </div>
                <mat-form-field appearance="outline" class="width-15 mr-2">
                  <input matInput placeholder="+33" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-60">
                  <input matInput placeholder="Phone number" />
                </mat-form-field>
              </div>

              <div>
                <div class="mb-2">
                  <div class="header-18">Mobile</div>
                </div>
                <mat-form-field appearance="outline" class="width-15 mr-2">
                  <input matInput placeholder="+33" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-60">
                  <input matInput placeholder="Mobile number" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Value added services -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Value added services</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          fxLayout="column"
          fxLayout.gt-sm="row"
          fxLayoutAlign="space-between start"
        >
          <div fxFlex *ngFor="let valueService of valueService">
            <div fxLayout="row" class="mb-2">
              <div class="header-18">{{ valueService.label }}</div>
            </div>
            <div class="mb-radio">
              <mat-radio-group
                color="primary"
                aria-label="Select an option"
                [(ngModel)]="ebooking[valueService.name]"
              >
                <mat-radio-button
                  class="mr-8 plain-text"
                  [value]="option.value"
                  *ngFor="let option of valueService.options"
                >
                  {{ option.label }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <!-- <button class="mat-raised-button" (click)="getalueAndServicesSelectedValues()">
          Test
        </button> -->
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Cargo & Container -->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">Cargo & Container</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="mb-3"
          *ngFor="
            let cargoContainerType of cargoContainerTypes;
            let isFirst = first;
            let isLast = last
          "
        >
          <div
            fxLayout="column"
            fxLayout.gt-sm="row wrap"
            fxLayoutGap="10px"
            fxLayoutAlign="start center"
          >
            <div *ngFor="let field of cargoContainerType; let i = index">
              <div *ngIf="field.options">
                <div class="header-18">{{ field.name }}</div>
                <mat-form-field
                  appearance="outline"
                  class="no-bottom-padding w-150"
                >
                  <mat-select [(ngModel)]="field.selectedValue">
                    <mat-option
                      *ngFor="let option of field.options"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="!field.options">
                <div class="header-18">{{ field.name }}</div>
                <mat-form-field
                  appearance="outline"
                  class="no-bottom-padding w-150"
                >
                  <input
                    matInput
                    [(ngModel)]="field.selectedValue"
                    placeholder="0                       cm"
                  />
                </mat-form-field>
              </div>
            </div>
            <button
              mat-raised-button
              color="primary"
              class="mat-elevation-z0 bttn"
              *ngIf="cargoContainerTypes.length < 5 && isLast"
              (click)="addCargotype()"
            >
              Add +
            </button>
            <button
              mat-raised-button
              color="primary"
              class="mat-elevation-z0 bttn1"
              *ngIf="cargoContainerTypes.length > 1"
              (click)="removeCargoType()"
            >
              Remove
            </button>
          </div>
          <!-- </div> -->
        </div>
        <div class="mb-2">
          <hr />
        </div>
        <div class="mb-2">
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutAlign="start start"
            >
              <div class="mr-2">
                <div class="mb-2">
                  <div class="header-18">Total Items</div>
                </div>

                <mat-form-field appearance="outline">
                  <input matInput placeholder="Total Items" />
                </mat-form-field>
              </div>
              <div class="mr-2">
                <div class="mb-2">
                  <div class="header-18">Total Volumetric Weight</div>
                </div>

                <mat-form-field appearance="outline">
                  <input matInput placeholder="Total  Weight" [value]="" />
                </mat-form-field>
              </div>
              <div class="mr-2">
                <div class="mb-2">
                  <div class="header-18">Total Gross Weight</div>
                </div>

                <mat-form-field appearance="outline">
                  <input matInput placeholder="Total Gross" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!--  First Notify Informations-->
  <div class="mb-6">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="main-header">First Notify Informations</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">First Notify</div>
          </div>
          <div class="mb-2">
            <div>
              <mat-form-field appearance="outline" class="w-30">
                <input
                  type="text"
                  matInput
                  [(ngModel)]="ebooking.sFirstNotifyName"
                  (ngModelChange)="getNotifyName($event)"
                  [matAutocomplete]="notifyAuto"
                  placeholder="Choose a first notify customer"
                />
                <mat-autocomplete #notifyAuto="matAutocomplete">
                  <mat-option
                    *ngFor="let item of notifyNameList"
                    [value]="item.name"
                    (click)="onNotifyDataListSelect(item)"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Adderess</div>
          </div>
          <div class="mb-2">
            <div>
              <mat-form-field appearance="outline" class="w-30">
                <input
                  matInput
                  [(ngModel)]="ebooking.sFirstNotifyAddr"
                  placeholder="Enter your address"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-2">
            <div class="header-18">Email</div>
          </div>
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutGap="25px"
              fxLayoutAlign="start start"
            >
              <mat-form-field
                appearance="outline"
                class="no-bottom-padding w-30"
              >
                <input matInput placeholder="Enter a valid email address" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <div class="mb-1">
            <div
              fxLayout="column"
              fxLayout.gt-sm="row"
              fxLayoutAlign="start start"
            >
              <div>
                <div class="mb-2">
                  <div class="header-18">Phone</div>
                </div>
                <mat-form-field appearance="outline" class="width-15 mr-2">
                  <input matInput placeholder="+33" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-60">
                  <input matInput placeholder="Phone number" />
                </mat-form-field>
              </div>

              <div>
                <div class="mb-2">
                  <div class="header-18">Mobile</div>
                </div>
                <mat-form-field appearance="outline" class="width-15 mr-2">
                  <input matInput placeholder="+33" />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-60">
                  <input matInput placeholder="Mobile number" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mb-6" *ngIf="sailingData.length > 0">
    <mat-card class="mat-elevation-z0">
      <div fxLayout="row" fxLayoutGap="25px">
        <div class="accordian-title">Schedules</div>
      </div>
      <div
        class="card-title mb-9"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <!-- <a class="underline"> View all </a> -->
      </div>
      <div class="card-body">
        <div fxLayout="column" fxLayoutAlign="center space-between">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
            class="py-3 schedules-table-header"
          >
            <h3 fxFlex class="mb-0">Origin</h3>
            <h3 fxFlex class="mb-0">Destination</h3>
            <h3 fxFlex class="mb-0">Cut Off</h3>
            <h3 fxFlex class="mb-0">TTPort</h3>
            <h3 fxFlex class="mb-0">TTLRD</h3>
            <h3 fxFlex class="mb-0"></h3>
            <h3 fxFlex class="mb-0"></h3>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
            class="my-3 schedule-item"
            *ngFor="let element of sailingData"
          >
            <h5 fxFlex class="mb-0">{{ element.POL_NAME }}</h5>
            <h5 fxFlex class="mb-0">{{ element.POD_NAME }}</h5>
            <h5 fxFlex class="mb-0">
              {{ element.ETD }}
            </h5>
            <h5 fxFlex class="mb-0">
              {{ element.VOYAGE_NO }}
            </h5>
            <h5 fxFlex class="mb-0">
              {{ element.VOYAGE_NO }}
            </h5>
            <h5 fxFlex class="mb-0 red" color="warn">Fast</h5>
            <div fxFlex>
              <button
                mat-raised-button
                color="warn"
                class="mat-elevation-z0 schedule-btn"
              >
                Book
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="mb-10" *ngIf="poData?.po_number">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="accordian-title">PO Details</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="card-body">
          <div fxLayout="column" fxLayoutAlign="center space-between">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
              class="py-3 schedules-table-header"
            >
              <h3 fxFlex class="mb-0">Po Number</h3>
              <h3 fxFlex class="mb-0">SKU</h3>
              <h3 fxFlex class="mb-0">Description</h3>
              <h3 fxFlex class="mb-0">Shipment No</h3>
              <h3 fxFlex class="mb-0">Delivery Date</h3>
              <h3 fxFlex class="mb-0">Ordered</h3>
              <h3 fxFlex class="mb-0">Booked</h3>
              <h3 fxFlex class="mb-0">Closed</h3>
              <h3 fxFlex class="mb-0">Balance</h3>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
              class="my-3 schedule-item"
            >
              <h5 fxFlex class="mb-0">{{ poData?.po_number }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.sku }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.description }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.shipmentno }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.delivery_date }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.Ordered }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.booked }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.closed }}</h5>
              <h5 fxFlex class="mb-0">{{ poData?.balance }}</h5>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <div class="mb-5">
      <h5>File Upload</h5>
      <div>
        <!-- <mat-form-field appearance="outline"> -->
        <input type="file" [(ngModel)]="ebooking.sFilename" />
        <!-- </mat-form-field> -->
      </div>
    </div>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      class="mat-elevation-z0"
      (click)="getCargoContainerTypeData()"
    >
      Confirm
    </button>
  </div>
</div>
