.mat-expansion-panel-header {
  height: 70px;
}

::ng-deep .no-bottom-padding .mat-form-field-wrapper {
  padding-bottom: 0px;
}
.mb-radio {
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .mb-radio {
    margin-bottom: 2.25rem;
  }
}
.w-150 {
  width: 140px;
}
.bttn {
  margin-top: 20px;
  height: 50px;
  background: #f01e1e;
  border-radius: 0px;
  width: 80px;
}
.bttn1 {
  margin-top: 20px;
  height: 50px;
  width: 80px;
  border: 1px solid #f01e1e;
  color: #f01e1e;
  background-color: #ffffff;
  border-radius: 0px;
}
.shipment-name {
  width: 100%;
}
.buttons {
  width: 24%;
}
.w-30 {
  width: 100%;
}
.w-60 {
  width: 80%;
}
.width-15 {
  width: 17%;
}
@media (min-width: 998px) {
  .buttons {
    width: 9%;
  }
  .shipment-name {
    width: 50%;
  }
  .w-30 {
    width: 30%;
  }
  .w-60 {
    width: 65%;
  }
}
.red {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #f01e1e;
}
.schedule-btn {
  background: #f01e1e;
  color: #ffffff;
}
.btn-item {
  width: 100%;
  height: 50px;
}
.light-color-button {
  color: #92929d;
}
h3 {
  margin-bottom: 0px !important;
}
.label-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #313131;
}
.accordian-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  // line-height: 30px;
  color: #313131;
}
.accordian-title1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #313131;
}
.schedules-table-header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #313131;
}
