<mat-card class="mat-elevation-z0">
    <div class="card-title mb-9" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutGap="25px">
            <h2 class="mb-0">
                Purchase
            </h2>
            <button mat-stroked-button class="mat-elevation-z0">
                Upcoming
            </button>
            <button mat-stroked-button class="mat-elevation-z0">
                Picked-up
            </button>
        </div>
        <a class="underline">
            View all
        </a>
    </div>
    <div class="card-body">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="py-3 purchases-table-header">
            <h3 fxFlex class="mb-0">
                Picked-up PO’s
            </h3>
            <h3 fxFlex class="mb-0">
                Origins
            </h3>
            <h3 fxFlex class="mb-0">
                Booked Number HBL
            </h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="my-3 purchase-item">
            <h5 fxFlex class="mb-0">
                PO-202334
            </h5>
            <h5 fxFlex class="mb-0">
                New-York, NY
            </h5>
            <h5 fxFlex class="mb-0">
                12203939488777754
            </h5>
        </div>
    </div>
</mat-card>