<div class="purchase-card">
  <mat-card class="mat-elevation-z0">
    <div
      class="card-title mb-4 ml-3 mr-3"
      fxLayout="row"
      fxLayoutAlign="space-between end"
    >
      <div fxLayout="row">
        <div class="mb-0 main-header">Purchase</div>
      </div>
      <div fxLayout="row" fxLayoutGap="25px">
        <button
          mat-stroked-button
          class="mat-elevation-z0 status-buttons"
          fxHide
          fxShow.gt-sm
          *ngFor="let purchaseStatusType of poStatusTypes"
          [color]="
            purchaseStatusType.value == activePurchaseStatusType
              ? 'primary'
              : 'light'
          "
          [class.light-color-button]="
            purchaseStatusType != activePurchaseStatusType
          "
          (click)="getDashboardPO(purchaseStatusType.value)"
        >
          {{ purchaseStatusType.label }}
        </button>
        <!-- <button mat-stroked-button class="mat-elevation-z0" fxHide fxShow.gt-sm>
        Picked-up
      </button> -->
        <a class="view-all-link" (click)="goTo('/po', 'data')"> View all </a>
      </div>
    </div>
    <div class="card-body ml-3 mr-3" fxHide fxShow.gt-sm>
      <div fxLayout="column" fxLayoutAlign="center space-between">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="py-3 purchases-table-header"
        >
          <div fxFlex class="mb-0 bold-text">Picked-up PO’s</div>
          <div fxFlex class="mb-0 bold-text">Origins</div>
          <!-- <div fxFlex class="mb-0 bold-text">Booked Number HBL</div> -->
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="my-3 purchase-item rows-font"
          *ngFor="let element of data"
        >
          <div fxFlex class="mb-0 plain-text">
            {{ element.ponumber }}
          </div>
          <div fxFlex class="mb-0 plain-text">
            {{ element.origin }}
          </div>
          <!-- <div fxFlex class="mb-0 plain-text">
            {{ element["hbl-number"] }}
          </div> -->
        </div>
      </div>
    </div>
    <div class="card-body" fxShow fxHide.gt-sm>
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap="10px"
        class="my-3 purchase-item"
        *ngIf="data && data[0]"
      >
        <p fxFlex>
          <span class="font-bold">Picked-up PO’s :</span>
          <span>{{ data[0].ponumber }}</span>
        </p>
        <p fxFlex>
          <span class="font-bold">Origins :</span>
          <span>{{ data[0].origin }}</span>
        </p>
        <p fxFlex>
          <span class="font-bold">Booked Number HBL :</span>
          <span>{{ data[0]["hbl-number"] }}</span>
        </p>
        <!-- <p fxFlex class="mb-0">
        {{ element.origin }}
      </p>
      <p fxFlex class="mb-0">
        {{ element["hbl-number"] }}
      </p> -->
      </div>
    </div>
  </mat-card>
</div>
